<aside class="span2" id="sidebar-wrapper">
    <ul class="syo-nav syo-nav-list" id="sidebar">
        <li class="syo-nav-header"><i class="icon-css"></i> CSS Base</li>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#type">Tipografia</a></li>
        <li><a href="#lists">Listas</a></li>
        <li><a href="#forms">Formulários</a></li>
        <li><a href="#tables">Tabelas</a></li>
        <li><a href="#utils">Utilitários</a></li>
    </ul>
</aside>

<div class="span10">
    <!-- Grid -->
    <section id="grid">
        <div class="syo-header">
            <h2>Grid</h2>
        </div>

        <p>Grid responsivo de 12 colunas.</p>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div class="grid-example">
                    <div class="row">
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                    </div>
                    <div class="row">
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                    </div>
                    <div class="row">
                        <div class="span3">.span3</div>
                        <div class="span3">.span3</div>
                        <div class="span3">.span3</div>
                        <div class="span3">.span3</div>
                    </div>
                    <div class="row">
                        <div class="span4">.span4</div>
                        <div class="span4">.span4</div>
                        <div class="span4">.span4</div>
                    </div>
                    <div class="row">
                        <div class="span5">.span5</div>
                        <div class="span5">.span5</div>
                    </div>
                    <div class="row">
                        <div class="span6">.span6</div>
                        <div class="span6">.span6</div>
                    </div>
                    <div class="row">
                        <div class="span7">.span7</div>
                    </div>
                    <div class="row">
                        <div class="span8">.span8</div>
                    </div>
                    <div class="row">
                        <div class="span9">.span9</div>
                    </div>
                    <div class="row">
                        <div class="span10">.span10</div>
                    </div>
                    <div class="row">
                        <div class="span11">.span11</div>
                    </div>
                    <div class="row">
                        <div class="span12">.span12</div>
                    </div>
                </div>
            </div>
    <pre class="prettyprint">
        &lt;div class="row"&gt;
            &lt;div class="span1"&gt;&lt;/div&gt;
            &lt;div class="span1"&gt;&lt;/div&gt;
            &lt;div class="span1"&gt;&lt;/div&gt;
            ...
        &lt;/div&gt;
    </pre>
        </div>

        <p>Para dar um distanciamento extra entre 2 elementos, basta usar uma classe <code>.offset</code>:</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div class="grid-example">
                    <div class="row">
                        <div class="span2">.span2</div>
                        <div class="span2 offset2">.span2 .offset2</div>
                        <div class="span2 offset2">.span2 .offset2</div>
                        <div class="span2">.span2</div>
                    </div>
                    <div class="row">
                        <div class="span2 offset4">.span2 .offset4</div>
                        <div class="span2">.span2</div>
                        <div class="span4">.span4</div>
                    </div>
                </div>
            </div>
    <pre class="prettyprint">
        &lt;div class="row"&gt;
            &lt;div class="span2"&gt;&lt;/div&gt;
            &lt;div class="span2 offset2"&gt;&lt;/div&gt;
            ...
        &lt;/div&gt;
    </pre>
        </div>
    </section>

    <!-- Tipografia -->
    <section id="type">
        <div class="syo-header">
            <h2>Tipografia</h2>
        </div>

        <h3>Headings</h3>
        <p>Todos os headings HTML, do <code>h1</code> ao <code>h6</code>.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <h1>h1. Heading 1</h1>
                <h2>h2. Heading 2</h2>
                <h3>h3. Heading 3</h3>
                <h4>h4. Heading 4</h4>
                <h5>h5. Heading 5</h5>
                <h6>h6. Heading 6</h6>
            </div>
            <pre class="prettyprint">&lt;h1&gt;...&lt;/h1&gt;</pre>
        </div>

        <h3>Parágrafos</h3>
        <p>No SyoFramework, o <code>font-size</code> global é de <b>11px</b>, com <code>line-height</code> de <b>15px</b>. Cada parágrafo ainda recebe um <code>margin-bottom</code> da metade da altura da linha - <b>7.5px</b>.</p>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue tristique vehicula. In condimentum, libero volutpat pellentesque suscipit, orci enim consectetur massa, sit amet egestas tellus metus eget eros.</p>
                <p>Praesent in tellus ut magna tincidunt volutpat. Praesent eleifend erat eget risus gravida cursus fermentum urna placerat.</p>
                <p>Vestibulum interdum orci sed enim egestas quis vehicula mauris accumsan. Donec mattis rhoncus augue, convallis gravida lacus congue vitae. Pellentesque tortor purus, blandit non consequat at, mattis elementum enim.</p>
                <p>Morbi urna libero, blandit a rutrum sed, rutrum id arcu. Sed ac dolor quis erat fermentum feugiat a et sapien. Nam sit amet eros ac ipsum varius lacinia. Suspendisse nisi odio, pretium et dictum in, blandit vitae lectus.</p>
            </div>
            <pre class="prettyprint">&lt;p&gt;...&lt;/p&gt;</pre>
        </div>

        <p>Para dar um destaque extra à um parágrafo inicial, adicione a ele a classe <code>.lead</code>.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <pre class="prettyprint">&lt;p class="lead"&gt;...&lt;/p&gt;</pre>
        </div>

        <h3>Links</h3>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p><a href="#">Lorem ipsum dolor sit amet</a></p>
            </div>
            <pre class="prettyprint">&lt;a href="#"&gt;...&lt;/a&gt;</pre>
        </div>

        <h3>Ênfase</h3>
        <p>Para dar ênfase a um determinado bloco de texto, pode-se usar qualquer uma das tags abaixo:</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p><code>em</code>, <code>i</code>: <em>Texto enfatizado em itálico</em></p>
                <p><code>strong</code>, <code>b</code>: <strong>Texto com muita importância, em negrito.</strong></p>
                <p><code>small</code>: <small>Texto sem importância, letras pequenas!</small></p>
            </div>
    <pre class="prettyprint">
    &lt;em&gt;...&lt;/em&gt; ou &lt;i&gt;...&lt;/i&gt;
    &lt;strong&gt;...&lt;/strong&gt; ou &lt;b&gt;...&lt;/b&gt;
    &lt;small&gt;...&lt;/small&gt;
    </pre>
        </div>
    </section>

    <!-- Listas -->
    <section id="lists">
        <div class="syo-header">
            <h2>Listas</h2>
        </div>

        <p>Elementos <code>ul</code> e <code>ol</code>, como sempre!</p>

        <h3>Não ordenadas</h3>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </li>
                </ul>
            </div>
    <pre class="prettyprint">
    &lt;ul&gt;
        &lt;li&gt;...&lt;/li&gt;
    &lt;/ul&gt;
    </pre>
        </div>

        <h3>Ordenadas</h3>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ol>
                    </li>
                </ol>
            </div>
    <pre class="prettyprint">
    &lt;ol&gt;
        &lt;li&gt;...&lt;/li&gt;
    &lt;/ol&gt;
    </pre>
        </div>

        <h3>Não estilizadas</h3>
        <p>Adicione a classe <code>.unstyled</code> para ter listas cujos itens não tem um estilo. <strong>Nota:</strong> Apenas os itens diretos da lista com a classe não serão estilizados.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ul class="unstyled">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </li>
                </ul>
            </div>
    <pre class="prettyprint">
    &lt;ul class="unstyled"&gt;
        &lt;li&gt;...&lt;/li&gt;
    &lt;/ul&gt;
    </pre>
        </div>

        <h3>Inline</h3>
        <p>Adicione a classe <code>.inline</code> para ter uma lista inline.</p>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ul class="inline">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
    <pre class="prettyprint">
    &lt;ul class="inline"&gt;
        &lt;li&gt;...&lt;/li&gt;
    &lt;/ul&gt;
    </pre>
        </div>
    </section>

    <!-- Forms -->
    <section id="forms">
        <div class="syo-header">
            <h2>Formulários</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <fieldset>
                    <legend>Formulário</legend>
                    <div class="row">
                        <div class="syo-field span3">
                            <label for="input1" class="span6">Label à direita (default):</label>
                            <div class="syo-field-controls span6">
                                <input type="text" id="input1" class="input-block-level" placeholder="Digite alguma coisa..." />
                                <span class="syo-field-help">Texto de ajuda para o campo acima</span>
                            </div>
                        </div>
                    </div>

                    <div class="syo-field row">
                        <div class="span3">
                            <select id="input6" class="input-block-level">
                                <option value="1">Opção 1</option>
                                <option value="2">Opção 2</option>
                                <option value="3">Opção 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="syo-field syo-field-inline">
                        <label>
                            <input type="checkbox" />
                            Checkbox
                        </label>
                    </div>
                    <div class="syo-field syo-field-inline">
                        <input type="radio" id="input8" />
                        <label for="input8">Radio</label>
                    </div>
                    <div class="syo-field syo-field-inline">
                        <label>
                            <input type="radio" />
                            Radio
                        </label>
                    </div>

                    <div class="syo-field">
                        <input type="submit" value="Botão" class="syo-button" />
                        <input type="reset" value="Botão desabilitado" class="syo-button" disabled="disabled" />
                    </div>
                </fieldset>
            </div>
    <pre class="prettyprint">
    &lt;form method="POST" action="#"&gt;
        &lt;fieldset&gt;
            &lt;legend&gt;Formul&aacute;rio&lt;/legend&gt;
            &lt;div class="syo-field"&gt;
                &lt;label for="input-id"&gt;Label à direita (default):&lt;/label&gt;
                &lt;div class="syo-field-controls"&gt;
                    &lt;input type="text" id="input-id" placeholder="Digite alguma coisa..." /&gt;
                    &lt;span class="syo-field-help"&gt;Texto de ajuda para o campo acima&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="syo-field"&gt;
                &lt;select&gt;
                    &lt;option value="1"&gt;...&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;

            &lt;div class="syo-field syo-field-inline"&gt;
                &lt;label&gt;
                    &lt;input type="checkbox" /&gt;
                    Checkbox
                &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="syo-field syo-field-inline"&gt;
                &lt;input type="radio" id="radiobox" /&gt;
                &lt;label for="radiobox"&gt;Radio&lt;/label&gt;
            &lt;/div&gt;

            &lt;div class="syo-field"&gt;
                &lt;input type="submit" value="Bot&atilde;o" class="syo-button" /&gt;
                &lt;input type="reset" value="Bot&atilde;o desabilitado" class="syo-button" disabled="disabled" /&gt;
            &lt;/div&gt;
        &lt;/fieldset&gt;
    &lt;/form&gt;
    </pre>
        </div>

        <h3>Estados de sucesso/erro</h3>
        <p>É possível setar um estado de sucesso/erro em qualquer elemento do formulário. Basta adicionar a classe devida no elemento que você deseja aplicar tal estado:</p>

        <table class="syo-data-table">
            <colgroup>
                <col class="span1" />
            </colgroup>
            <thead>
            <tr>
                <th>Classe</th>
                <th>Exemplo visual</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>.syo-success</code></td>
                <td>
                    <button class="syo-button syo-success">Concluir com Sucesso</button>
                    <input type="text" class="syo-success" value="Campo text preenchido com sucesso" />
                </td>
            </tr>
            <tr>
                <td><code>.syo-error</code></td>
                <td>
                    <button class="syo-button syo-error">Concluir com Insucesso</button>
                    <input type="text" class="syo-error" value="Erro ao preencher este campo!" />
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- Tabelas -->
    <section id="tables">
        <div class="syo-header">
            <h2>Tabelas</h2>
        </div>

        <p>
            Tabelas para dados tabulares! Basta adicionar a classe <code>.syo-data-table</code>, ou utilizar o nosso plugin <b>syoDataGrid</b>. Compatível com ambos.<br />
            É possível definir uma linha como "ativa" adicionando na <code>tr</code> a classe <b>.syo-active</b> (para <code>.syo-data-table</code>). O mesmo estilo será aplicado para uma linha clicada pelo <b>syoDataGrid</b>.<br /><br />
            <b>Dica:</b> Também é possível utilizar as classes do grid com as tabelas :)
        </p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <table class="syo-data-table">
                    <colgroup>
                        <col class="span3" />
                        <col class="span3" />
                        <col class="span6" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Coluna 1</th>
                        <th>Coluna 2</th>
                        <th>Coluna 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                        <td rowspan="2">Texto 3</td>
                    </tr>
                    <tr>
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                    </tr>
                    <tr class="syo-active">
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                        <td>Texto 3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
    <pre class="prettyprint">
    &lt;table class=&quot;syo-data-table&quot;&gt;
        &lt;colgroup&gt;
            &lt;col class="span3" /&gt;
            &lt;col class="span3" /&gt;
            &lt;col class="span6" /&gt;
        &lt;/colgroup&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Coluna 1&lt;/th&gt;
                &lt;th&gt;Coluna 2&lt;/th&gt;
                &lt;th&gt;Coluna 3&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;Texto 1&lt;/td&gt;
                &lt;td&gt;Texto 2&lt;/td&gt;
                &lt;td rowspan="2"&gt;Texto 3&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Texto 1&lt;/td&gt;
                &lt;td&gt;Texto 2&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr class=&quot;syo-active&quot;&gt;
                &lt;td&gt;Texto 1&lt;/td&gt;
                &lt;td&gt;Texto 2&lt;/td&gt;
                &lt;td&gt;Texto 3&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
    </pre>
        </div>

        <p>Para que sua tabela tenha linhas de cores alternadas, adicione a classe <code>.syo-data-table-striped</code>.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <table class="syo-data-table syo-data-table-striped">
                    <thead>
                    <tr>
                        <th>Coluna 1</th>
                        <th>Coluna 2</th>
                        <th>Coluna 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                        <td>Texto 3</td>
                    </tr>
                    <tr>
                        <td colspan="2">Texto 1</td>
                        <td>Texto 2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pre class="prettyprint">&lt;table class="syo-data-table syo-data-table-striped"&gt;...&lt;/table&gt;</pre>
        </div>
    </section>

    <!-- Utils -->
    <section id="utils">
        <div class="syo-header">
            <h2>Classes Utilitárias</h2>
        </div>

        <p>Algumas classes que podem lhe ajudar em um desenvolvimento mais rápido.</p>

        <h3>.syo-hidden</h3>
        <p>Oculta um elemento da página.</p>
        <pre class="prettyprint">&lt;div class="syo-hidden"&gt;&lt;/div&gt;</pre>

        <h3>.syo-pull-left/.syo-pull-right</h3>
        <p>Coloca a propriedade CSS <code>float</code> de um elemento para o lado respectivo.</p>
    <pre class="prettyprint">
    &lt;div class="syo-pull-left"&gt;...&lt;/div&gt;
    &lt;div class="syo-pull-right"&gt;...&lt;/div&gt;
    </pre>

        <h3>.clearfix</h3>
        <p>Limpa o <code>float</code> em qualquer elemento.</p>
        <pre class="prettyprint">&lt;div class="clearfix"&gt;&lt;/div&gt;</pre>
    </section>
</div>