<aside class="span2" id="sidebar-wrapper">
    <ul class="syo-nav syo-nav-list" id="sidebar">
        <li class="syo-nav-header"><i class="icon-css"></i> CSS Base</li>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#type">Tipografia</a></li>
        <li><a href="#lists">Listas</a></li>
        <li><a href="#forms">Formulários</a></li>
        <li><a href="#tables">Tabelas</a></li>
        <li><a href="#icons">Icones</a></li>
        <li><a href="#responsive">Design Responsivo</a></li>
        <li><a href="#utils">Utilitários</a></li>
    </ul>
</aside>

<div class="span10">
    <!-- Grid -->
    <section id="grid">
        <div class="syo-header">
            <h2>Grid</h2>
        </div>

        <p>Grid responsivo de 12 colunas.</p>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div class="grid-example">
                    <div class="row">
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                        <div class="span1">.span1</div>
                    </div>
                    <div class="row">
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                        <div class="span2">.span2</div>
                    </div>
                    <div class="row">
                        <div class="span3">.span3</div>
                        <div class="span3">.span3</div>
                        <div class="span3">.span3</div>
                        <div class="span3">.span3</div>
                    </div>
                    <div class="row">
                        <div class="span4">.span4</div>
                        <div class="span4">.span4</div>
                        <div class="span4">.span4</div>
                    </div>
                    <div class="row">
                        <div class="span5">.span5</div>
                        <div class="span5">.span5</div>
                    </div>
                    <div class="row">
                        <div class="span6">.span6</div>
                        <div class="span6">.span6</div>
                    </div>
                    <div class="row">
                        <div class="span7">.span7</div>
                    </div>
                    <div class="row">
                        <div class="span8">.span8</div>
                    </div>
                    <div class="row">
                        <div class="span9">.span9</div>
                    </div>
                    <div class="row">
                        <div class="span10">.span10</div>
                    </div>
                    <div class="row">
                        <div class="span11">.span11</div>
                    </div>
                    <div class="row">
                        <div class="span12">.span12</div>
                    </div>
                </div>
            </div>
<pre class="prettyprint">
    &lt;div class="row"&gt;
        &lt;div class="span1"&gt;&lt;/div&gt;
        &lt;div class="span1"&gt;&lt;/div&gt;
        &lt;div class="span1"&gt;&lt;/div&gt;
        ...
    &lt;/div&gt;
</pre>
        </div>

        <p>Para dar um distanciamento extra entre 2 elementos, basta usar uma classe <code>.offset</code>:</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div class="grid-example">
                    <div class="row">
                        <div class="span2">.span2</div>
                        <div class="span2 offset2">.span2 .offset2</div>
                        <div class="span2 offset2">.span2 .offset2</div>
                        <div class="span2">.span2</div>
                    </div>
                    <div class="row">
                        <div class="span2 offset4">.span2 .offset4</div>
                        <div class="span2">.span2</div>
                        <div class="span4">.span4</div>
                    </div>
                </div>
            </div>
<pre class="prettyprint">
    &lt;div class="row"&gt;
        &lt;div class="span2"&gt;&lt;/div&gt;
        &lt;div class="span2 offset2"&gt;&lt;/div&gt;
        ...
    &lt;/div&gt;
</pre>
        </div>
    </section>

    <!-- Tipografia -->
    <section id="type">
        <div class="syo-header">
            <h2>Tipografia</h2>
        </div>

        <h3>Headings</h3>
        <p>Todos os headings HTML, do <code>h1</code> ao <code>h6</code>.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <h1>h1. Heading 1</h1>
                <h2>h2. Heading 2</h2>
                <h3>h3. Heading 3</h3>
                <h4>h4. Heading 4</h4>
                <h5>h5. Heading 5</h5>
                <h6>h6. Heading 6</h6>
            </div>
            <pre class="prettyprint">&lt;h1&gt;...&lt;/h1&gt;</pre>
        </div>

        <h3>Parágrafos</h3>
        <p>No SyoFramework, o <code>font-size</code> global é de <b>11px</b>, com <code>line-height</code> de <b>15px</b>. Cada parágrafo ainda recebe um <code>margin-bottom</code> da metade da altura da linha - <b>7.5px</b>.</p>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue tristique vehicula. In condimentum, libero volutpat pellentesque suscipit, orci enim consectetur massa, sit amet egestas tellus metus eget eros.</p>
                <p>Praesent in tellus ut magna tincidunt volutpat. Praesent eleifend erat eget risus gravida cursus fermentum urna placerat.</p>
                <p>Vestibulum interdum orci sed enim egestas quis vehicula mauris accumsan. Donec mattis rhoncus augue, convallis gravida lacus congue vitae. Pellentesque tortor purus, blandit non consequat at, mattis elementum enim.</p>
                <p>Morbi urna libero, blandit a rutrum sed, rutrum id arcu. Sed ac dolor quis erat fermentum feugiat a et sapien. Nam sit amet eros ac ipsum varius lacinia. Suspendisse nisi odio, pretium et dictum in, blandit vitae lectus.</p>
            </div>
            <pre class="prettyprint">&lt;p&gt;...&lt;/p&gt;</pre>
        </div>

        <p>Para dar um destaque extra à um parágrafo inicial, adicione a ele a classe <code>.lead</code>.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <pre class="prettyprint">&lt;p class="lead"&gt;...&lt;/p&gt;</pre>
        </div>

        <h3>Links</h3>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p><a href="#">Lorem ipsum dolor sit amet</a></p>
            </div>
            <pre class="prettyprint">&lt;a href="#"&gt;...&lt;/a&gt;</pre>
        </div>

        <h3>Ênfase</h3>
        <p>Para dar ênfase a um determinado bloco de texto, pode-se usar qualquer uma das tags abaixo:</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p><code>em</code>, <code>i</code>: <em>Texto enfatizado em itálico</em></p>
                <p><code>strong</code>, <code>b</code>: <strong>Texto com muita importância, em negrito.</strong></p>
                <p><code>small</code>: <small>Texto sem importância, letras pequenas!</small></p>
            </div>
<pre class="prettyprint">
&lt;em&gt;...&lt;/em&gt; ou &lt;i&gt;...&lt;/i&gt;
&lt;strong&gt;...&lt;/strong&gt; ou &lt;b&gt;...&lt;/b&gt;
&lt;small&gt;...&lt;/small&gt;
</pre>
        </div>
    </section>

    <!-- Listas -->
    <section id="lists">
        <div class="syo-header">
            <h2>Listas</h2>
        </div>

        <p>Elementos <code>ul</code> e <code>ol</code>, como sempre!</p>

        <h3>Não ordenadas</h3>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </li>
                </ul>
            </div>
<pre class="prettyprint">
&lt;ul&gt;
    &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;
</pre>
        </div>

        <h3>Ordenadas</h3>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ol>
                    </li>
                </ol>
            </div>
<pre class="prettyprint">
&lt;ol&gt;
    &lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;
</pre>
        </div>

        <h3>Não estilizadas</h3>
        <p>Adicione a classe <code>.unstyled</code> para ter listas cujos itens não tem um estilo. <strong>Nota:</strong> Apenas os itens diretos da lista com a classe não serão estilizados.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ul class="unstyled">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                    </li>
                </ul>
            </div>
<pre class="prettyprint">
&lt;ul class="unstyled"&gt;
    &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;
</pre>
        </div>

        <h3>Inline</h3>
        <p>Adicione a classe <code>.inline</code> para ter uma lista inline.</p>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <ul class="inline">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
<pre class="prettyprint">
&lt;ul class="inline"&gt;
    &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;
</pre>
        </div>
    </section>

    <!-- Forms -->
    <section id="forms">
        <div class="syo-header">
            <h2>Formulários</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <fieldset>
                    <legend>Formulário</legend>
                    <div class="row">
                        <div class="syo-field span3">
                            <label for="input1" class="span6">Label à direita (default):</label>
                            <div class="syo-field-controls span6">
                                <input type="text" id="input1" class="input-block-level" placeholder="Digite alguma coisa..." />
                                <span class="syo-field-help">Texto de ajuda para o campo acima</span>
                            </div>
                        </div>
                    </div>

                    <div class="syo-field row">
                        <div class="span3">
                            <select id="input6" class="input-block-level">
                                <option value="1">Opção 1</option>
                                <option value="2">Opção 2</option>
                                <option value="3">Opção 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="syo-field syo-field-inline">
                        <label>
                            <input type="checkbox" />
                            Checkbox
                        </label>
                    </div>
                    <div class="syo-field syo-field-inline">
                        <input type="radio" id="input8" />
                        <label for="input8">Radio</label>
                    </div>
                    <div class="syo-field syo-field-inline">
                        <label>
                            <input type="radio" />
                            Radio
                        </label>
                    </div>

                    <div class="syo-field">
                        <input type="submit" value="Botão" class="syo-button" />
                        <input type="reset" value="Botão desabilitado" class="syo-button" disabled="disabled" />
                    </div>
                </fieldset>
            </div>
<pre class="prettyprint">
&lt;form method="POST" action="#"&gt;
    &lt;fieldset&gt;
        &lt;legend&gt;Formul&aacute;rio&lt;/legend&gt;
        &lt;div class="syo-field"&gt;
            &lt;label for="input-id"&gt;Label à direita (default):&lt;/label&gt;
            &lt;div class="syo-field-controls"&gt;
                &lt;input type="text" id="input-id" placeholder="Digite alguma coisa..." /&gt;
                &lt;span class="syo-field-help"&gt;Texto de ajuda para o campo acima&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="syo-field"&gt;
            &lt;select&gt;
                &lt;option value="1"&gt;...&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;

        &lt;div class="syo-field syo-field-inline"&gt;
            &lt;label&gt;
                &lt;input type="checkbox" /&gt;
                Checkbox
            &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="syo-field syo-field-inline"&gt;
            &lt;input type="radio" id="radiobox" /&gt;
            &lt;label for="radiobox"&gt;Radio&lt;/label&gt;
        &lt;/div&gt;

        &lt;div class="syo-field"&gt;
            &lt;input type="submit" value="Bot&atilde;o" class="syo-button" /&gt;
            &lt;input type="reset" value="Bot&atilde;o desabilitado" class="syo-button" disabled="disabled" /&gt;
        &lt;/div&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;
</pre>
        </div>

        <h3>Estados de sucesso/erro</h3>
        <p>É possível setar um estado de sucesso/erro em qualquer elemento do formulário. Basta adicionar a classe devida no elemento que você deseja aplicar tal estado:</p>

        <table class="syo-data-table">
            <colgroup>
                <col class="span1" />
            </colgroup>
            <thead>
            <tr>
                <th>Classe</th>
                <th>Exemplo visual</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>.syo-success</code></td>
                <td>
                    <button class="syo-button syo-success">Concluir com Sucesso</button>
                    <input type="text" class="syo-success" value="Campo text preenchido com sucesso" />
                </td>
            </tr>
            <tr>
                <td><code>.syo-error</code></td>
                <td>
                    <button class="syo-button syo-error">Concluir com Insucesso</button>
                    <input type="text" class="syo-error" value="Erro ao preencher este campo!" />
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- Tabelas -->
    <section id="tables">
        <div class="syo-header">
            <h2>Tabelas</h2>
        </div>

        <p>
            Tabelas para dados tabulares! Basta adicionar a classe <code>.syo-data-table</code>, ou utilizar o nosso plugin <b>syoDataGrid</b>. Compatível com ambos.<br />
            É possível definir uma linha como "ativa" adicionando na <code>tr</code> a classe <b>.syo-active</b> (para <code>.syo-data-table</code>). O mesmo estilo será aplicado para uma linha clicada pelo <b>syoDataGrid</b>.<br /><br />
            <b>Dica:</b> Também é possível utilizar as classes do grid com as tabelas :)
        </p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <table class="syo-data-table">
                    <colgroup>
                        <col class="span3" />
                        <col class="span3" />
                        <col class="span6" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Coluna 1</th>
                        <th>Coluna 2</th>
                        <th>Coluna 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                        <td rowspan="2">Texto 3</td>
                    </tr>
                    <tr>
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                    </tr>
                    <tr class="syo-active">
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                        <td>Texto 3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
<pre class="prettyprint">
&lt;table class=&quot;syo-data-table&quot;&gt;
    &lt;colgroup&gt;
        &lt;col class="span3" /&gt;
        &lt;col class="span3" /&gt;
        &lt;col class="span6" /&gt;
    &lt;/colgroup&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Coluna 1&lt;/th&gt;
            &lt;th&gt;Coluna 2&lt;/th&gt;
            &lt;th&gt;Coluna 3&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;Texto 1&lt;/td&gt;
            &lt;td&gt;Texto 2&lt;/td&gt;
            &lt;td rowspan="2"&gt;Texto 3&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Texto 1&lt;/td&gt;
            &lt;td&gt;Texto 2&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr class=&quot;syo-active&quot;&gt;
            &lt;td&gt;Texto 1&lt;/td&gt;
            &lt;td&gt;Texto 2&lt;/td&gt;
            &lt;td&gt;Texto 3&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</pre>
        </div>

        <p>Para que sua tabela tenha linhas de cores alternadas, adicione a classe <code>.syo-data-table-striped</code>.</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <table class="syo-data-table syo-data-table-striped">
                    <thead>
                    <tr>
                        <th>Coluna 1</th>
                        <th>Coluna 2</th>
                        <th>Coluna 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Texto 1</td>
                        <td>Texto 2</td>
                        <td>Texto 3</td>
                    </tr>
                    <tr>
                        <td colspan="2">Texto 1</td>
                        <td>Texto 2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <pre class="prettyprint">&lt;table class="syo-data-table syo-data-table-striped"&gt;...&lt;/table&gt;</pre>
        </div>
    </section>

    <!-- Icones -->
    <section id="icons">
        <div class="syo-header">
            <h2>Icones</h2>
        </div>

        <p>
            O Syonet Bootstrap vem com mais de 270 icones abaixo, disponibilizados principalmente pela fonte icônica <a href="http://aristeides.com/elusive-iconfont/index.html">Elusive</a>.<br />
            Abaixo uma lista de todos eles e suas respectivas classes CSS:
        </p>

        <ul class="icons">
            <li><i class="icon-glass"></i> icon-glass</li>
            <li><i class="icon-music"></i> icon-music</li>
            <li><i class="icon-search"></i> icon-search</li>
            <li><i class="icon-envelope"></i> icon-envelope</li>
            <li><i class="icon-heart"></i> icon-heart</li>
            <li><i class="icon-star"></i> icon-star</li>
            <li><i class="icon-star-empty"></i> icon-star-empty</li>
            <li><i class="icon-user"></i> icon-user</li>
            <li><i class="icon-film"></i> icon-film</li>
            <li><i class="icon-th-large"></i> icon-th-large</li>
            <li><i class="icon-th"></i> icon-th</li>
            <li><i class="icon-th-list"></i> icon-th-list</li>
            <li><i class="icon-ok"></i> icon-ok</li>
            <li><i class="icon-remove"></i> icon-remove</li>
            <li><i class="icon-zoom-in"></i> icon-zoom-in</li>
            <li><i class="icon-zoom-out"></i> icon-zoom-out</li>
            <li><i class="icon-off"></i> icon-off</li>
            <li><i class="icon-signal"></i> icon-signal</li>
            <li><i class="icon-cog"></i> icon-cog</li>
            <li><i class="icon-trash"></i> icon-trash</li>
            <li><i class="icon-home"></i> icon-home</li>
            <li><i class="icon-file"></i> icon-file</li>
            <li><i class="icon-time"></i> icon-time</li>
            <li><i class="icon-road"></i> icon-road</li>
            <li><i class="icon-download-alt"></i> icon-download-alt</li>
            <li><i class="icon-download"></i> icon-download</li>
            <li><i class="icon-upload"></i> icon-upload</li>
            <li><i class="icon-upload-alt"></i> icon-upload-alt</li>
            <li><i class="icon-inbox"></i> icon-inbox</li>

            <li><i class="icon-play-circle"></i> icon-play-circle</li>
            <li><i class="icon-repeat"></i> icon-repeat</li>
            <li><i class="icon-refresh"></i> icon-refresh</li>
            <li><i class="icon-list-alt"></i> icon-list-alt</li>
            <li><i class="icon-lock"></i> icon-lock</li>
            <li><i class="icon-flag"></i> icon-flag</li>
            <li><i class="icon-headphones"></i> icon-headphones</li>
            <li><i class="icon-volume-off"></i> icon-volume-off</li>
            <li><i class="icon-volume-down"></i> icon-volume-down</li>
            <li><i class="icon-volume-up"></i> icon-volume-up</li>
            <li><i class="icon-qrcode"></i> icon-qrcode</li>
            <li><i class="icon-barcode"></i> icon-barcode</li>
            <li><i class="icon-tag"></i> icon-tag</li>
            <li><i class="icon-tags"></i> icon-tags</li>
            <li><i class="icon-book"></i> icon-book</li>
            <li><i class="icon-bookmark"></i> icon-bookmark</li>
            <li><i class="icon-print"></i> icon-print</li>
            <li><i class="icon-camera"></i> icon-camera</li>
            <li><i class="icon-font"></i> icon-font</li>
            <li><i class="icon-bold"></i> icon-bold</li>
            <li><i class="icon-italic"></i> icon-italic</li>
            <li><i class="icon-text-height"></i> icon-text-height</li>
            <li><i class="icon-text-width"></i> icon-text-width</li>
            <li><i class="icon-align-left"></i> icon-align-left</li>
            <li><i class="icon-align-center"></i> icon-align-center</li>
            <li><i class="icon-align-right"></i> icon-align-right</li>
            <li><i class="icon-align-justify"></i> icon-align-justify</li>
            <li><i class="icon-list"></i> icon-list</li>

            <li><i class="icon-indent-left"></i> icon-indent-left</li>
            <li><i class="icon-indent-right"></i> icon-indent-right</li>
            <li><i class="icon-facetime-video"></i> icon-facetime-video</li>
            <li><i class="icon-picture"></i> icon-picture</li>
            <li><i class="icon-pencil"></i> icon-pencil</li>
            <li><i class="icon-map-marker"></i> icon-map-marker</li>
            <li><i class="icon-adjust"></i> icon-adjust</li>
            <li><i class="icon-tint"></i> icon-tint</li>
            <li><i class="icon-edit"></i> icon-edit</li>
            <li><i class="icon-share"></i> icon-share</li>
            <li><i class="icon-check"></i> icon-check</li>
            <li><i class="icon-move"></i> icon-move</li>
            <li><i class="icon-step-backward"></i> icon-step-backward</li>
            <li><i class="icon-fast-backward"></i> icon-fast-backward</li>
            <li><i class="icon-backward"></i> icon-backward</li>
            <li><i class="icon-play"></i> icon-play</li>
            <li><i class="icon-pause"></i> icon-pause</li>
            <li><i class="icon-stop"></i> icon-stop</li>
            <li><i class="icon-forward"></i> icon-forward</li>
            <li><i class="icon-fast-forward"></i> icon-fast-forward</li>
            <li><i class="icon-step-forward"></i> icon-step-forward</li>
            <li><i class="icon-eject"></i> icon-eject</li>
            <li><i class="icon-chevron-left"></i> icon-chevron-left</li>
            <li><i class="icon-chevron-right"></i> icon-chevron-right</li>
            <li><i class="icon-plus-sign"></i> icon-plus-sign</li>
            <li><i class="icon-minus-sign"></i> icon-minus-sign</li>
            <li><i class="icon-remove-sign"></i> icon-remove-sign</li>
            <li><i class="icon-ok-sign"></i> icon-ok-sign</li>

            <li><i class="icon-question-sign"></i> icon-question-sign</li>
            <li><i class="icon-info-sign"></i> icon-info-sign</li>
            <li><i class="icon-screenshot"></i> icon-screenshot</li>
            <li><i class="icon-remove-circle"></i> icon-remove-circle</li>
            <li><i class="icon-ok-circle"></i> icon-ok-circle</li>
            <li><i class="icon-ban-circle"></i> icon-ban-circle</li>
            <li><i class="icon-arrow-left"></i> icon-arrow-left</li>
            <li><i class="icon-arrow-right"></i> icon-arrow-right</li>
            <li><i class="icon-arrow-up"></i> icon-arrow-up</li>
            <li><i class="icon-arrow-down"></i> icon-arrow-down</li>
            <li><i class="icon-share-alt"></i> icon-share-alt</li>
            <li><i class="icon-resize-full"></i> icon-resize-full</li>
            <li><i class="icon-resize-small"></i> icon-resize-small</li>
            <li><i class="icon-plus"></i> icon-plus</li>
            <li><i class="icon-minus"></i> icon-minus</li>
            <li><i class="icon-asterisk"></i> icon-asterisk</li>
            <li><i class="icon-exclamation-sign"></i> icon-exclamation-sign</li>
            <li><i class="icon-gift"></i> icon-gift</li>
            <li><i class="icon-leaf"></i> icon-leaf</li>
            <li><i class="icon-fire"></i> icon-fire</li>
            <li><i class="icon-eye-open"></i> icon-eye-open</li>
            <li><i class="icon-eye-close"></i> icon-eye-close</li>
            <li><i class="icon-warning-sign"></i> icon-warning-sign</li>
            <li><i class="icon-plane"></i> icon-plane</li>
            <li><i class="icon-calendar"></i> icon-calendar</li>
            <li><i class="icon-random"></i> icon-random</li>
            <li><i class="icon-comment"></i> icon-comment</li>
            <li><i class="icon-magnet"></i> icon-magnet</li>

            <li><i class="icon-chevron-up"></i> icon-chevron-up</li>
            <li><i class="icon-chevron-down"></i> icon-chevron-down</li>
            <li><i class="icon-retweet"></i> icon-retweet</li>
            <li><i class="icon-shopping-cart"></i> icon-shopping-cart</li>
            <li><i class="icon-folder-close"></i> icon-folder-close</li>
            <li><i class="icon-folder-open"></i> icon-folder-open</li>
            <li><i class="icon-resize-vertical"></i> icon-resize-vertical</li>
            <li><i class="icon-resize-horizontal"></i> icon-resize-horizontal</li>
            <li><i class="icon-hdd"></i> icon-hdd</li>
            <li><i class="icon-bullhorn"></i> icon-bullhorn</li>
            <li><i class="icon-bell"></i> icon-bell</li>
            <li><i class="icon-certificate"></i> icon-certificate</li>
            <li><i class="icon-thumbs-up"></i> icon-thumbs-up</li>
            <li><i class="icon-thumbs-down"></i> icon-thumbs-down</li>
            <li><i class="icon-hand-right"></i> icon-hand-right</li>
            <li><i class="icon-hand-left"></i> icon-hand-left</li>
            <li><i class="icon-hand-up"></i> icon-hand-up</li>
            <li><i class="icon-hand-down"></i> icon-hand-down</li>
            <li><i class="icon-circle-arrow-right"></i> icon-circle-arrow-right</li>
            <li><i class="icon-circle-arrow-left"></i> icon-circle-arrow-left</li>
            <li><i class="icon-circle-arrow-up"></i> icon-circle-arrow-up</li>
            <li><i class="icon-circle-arrow-down"></i> icon-circle-arrow-down</li>
            <li><i class="icon-globe"></i> icon-globe</li>
            <li><i class="icon-wrench"></i> icon-wrench</li>
            <li><i class="icon-tasks"></i> icon-tasks</li>
            <li><i class="icon-filter"></i> icon-filter</li>
            <li><i class="icon-briefcase"></i> icon-briefcase</li>
            <li><i class="icon-fullscreen"></i> icon-fullscreen</li>

            <li><i class="icon-hourglass"></i> icon-hourglass</li>
        </ul>

        <p>Para utilizar qualquer um deles, basta colocar a classe desejada em seu elemento. Por exemplo:</p>
        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <i class="icon-home"></i>
            </div>
            <pre class="prettyprint">&lt;i class="icon-home"&gt;&lt;/i&gt;</pre>
        </div>
    </section>

    <!-- Responsive -->
    <section id="responsive">
        <div class="syo-header">
            <h2>Design Responsivo</h2>
        </div>

        <p>
            Para facilitar o desenvolvimento responsivo, utilize estas classes, que exibem/ocultam conteúdo por tamanho de telas.<br />
            Abaixo está uma tabela com as classes disponíveis e o seu efeito em uma tela diferente.
        </p>

        <table class="syo-data-table responsive-table">
            <colgroup>
                <col class="span4" />
                <col class="span4" />
                <col class="span4" />
            </colgroup>
            <thead>
                <tr>
                    <th>Classe</th>
                    <th>Tablets <small>(menor que 980px)</small></th>
                    <th>Desktops <small>(maior ou igual a 980px)</small></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>.visible-tablet</code></td>
                    <td class="visible">Visível</td>
                    <td class="hidden">Oculto</td>
                </tr>
                <tr>
                    <td><code>.visible-desktop</code></td>
                    <td class="hidden">Oculto</td>
                    <td class="visible">Visível</td>
                </tr>
            </tbody>
        </table>

        <h3>Teste das classes responsivas</h3>
        <p>
            Redimensione o seu browser ou então carregue esta página noutros dispositivos para testar as classes abaixo.<br />
            O retângulo com um <i>check</i> verde quer dizer que o efeito está ativo na sua resolução de tela atual.
        </p>

        <h4>Visível em...</h4>
        <ul class="responsive-test">
            <li>
                Tablet
                <span class="visible-tablet visible"><i class="ok"></i> Tablet</span>
            </li>
            <li>
                Desktop
                <span class="visible-desktop visible"><i class="ok"></i> Desktop</span>
            </li>
        </ul>
    </section>

    <!-- Utils -->
    <section id="utils">
        <div class="syo-header">
            <h2>Classes Utilitárias</h2>
        </div>

        <p>Algumas classes que podem lhe ajudar em um desenvolvimento mais rápido.</p>

        <h3>.syo-hidden</h3>
        <p>Oculta um elemento da página.</p>
        <pre class="prettyprint">&lt;div class="syo-hidden"&gt;&lt;/div&gt;</pre>

        <h3>.clearfix</h3>
        <p>Limpa o <code>float</code> em qualquer elemento.</p>
        <pre class="prettyprint">&lt;div class="clearfix"&gt;&lt;/div&gt;</pre>
    </section>
</div>