<!-- Boilerplate para os exemplos -->
<!--
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>Exemplo</title>
			<meta name="viewport" content="width=device-width">
			
			<link rel="stylesheet" href="../../dist/bootstrap.css">
			<link rel="stylesheet" href="../../dist/jquery.ui.css">
		</head>
		<body>
			
			<script src="../../external/jquery.js"></script>
			<script src="../../external/jquery.ui.js"></script>
			<script src="../../dist/bootstrap.js"></script>
			<script>
				(function() {
					$(function() {
						// TODO
					});
				}());
			</script>
		</body>
	</html>
-->

<div class="syo-header">
	<h2>Apresentação</h2>
</div>
<p>
	Este framework tem como princípio a disponibilização de componentes e utilidades para uso no desenvolvimento da
	Syonet. Qualquer componente reusável que pode ser reaproveitado em mais de um projeto deve ser documentado, testado
	e desenvolvido aqui.
</p>
<div class="syo-header">
	<h2>Começando</h2>
</div>
<div class="syo-header">
	<h4>Dependências Obrigatórias</h4>
</div>
<p>
	Para utilizar o framework basta incluir o arquivo <code>bootstrap.css</code> e <code>bootstrap.js</code> na página.
</p>
<p>
	Junto com ele é necessário o <a href="//jquery.com">jQuery</a> e o <a href="//jqueryui.com/">jQueryUI</a>, que são
	dependências obrigatórias.
</p>
<p>
	O arquivo <code>jquery.ui.css</code> é criado pelo projeto:
</p>
<!-- Faz o escape dos imports para evitar request desnecessário ao servidor -->
<pre class="prettyprint">
	&lt;link rel="stylesheet" href="jquery.ui.css">
	&lt;link rel="stylesheet" href="bootstrap.css">
</pre>
<pre class="prettyprint">
	&lt;script src="jquery.js"></script>
	&lt;script src="jquery.ui.js"></script>
	&lt;script src="bootstrap.js"></script>
</pre>
<div class="syo-header">
	<h4>Dependências Opcionais</h4>
</div>
<p>
	Opcionalmente você pode incluir o <a href="//modernizr.com">Modernizr</a> e o
	<a href="//jquerymobile.com/">jQuery Mobile</a> que são utilizados para fornecer uma melhor experiência em
	dispositivos móveis.
</p>
<pre class="prettyprint">
	&lt;script src="modernizr.js"></script>
	&lt;script src="jquery.js"></script>
	&lt;script src="jquery.ui.js"></script>
	&lt;script src="jquery.mobile.js"></script>
	&lt;script src="bootstrap.js"></script>
</pre>
<div class="syo-header">
	<h2>Exemplos</h2>
</div>
<p>
	Exemplo prático de uso dos componentes em um ambiente real.
</p>
<p>
	O código de cada exemplo localiza-se em um arquivo separado e são exibidos aqui dentro de um iframe. Para analisar
	o código fonte acesse o arquivo original dentro do iframe.
</p>
<div class="syo-header">
	<h4>Tela de listagem</h4>
</div>
<p>
	<ul>
		<li> Componentes utilizados:
		<ul>
			<li><a href="base.html#tables">Table</a>
			<li><a href="javascript.html#datagrid">Data grid</a>
			<li><a href="base.html#forms">Formulários</a>
			<li><a href="jquery-ui.html#dialog">jQuery UI dialog</a>
			<li><a href="base.html#icons">Ícones</a>
		</ul>
	</ul>
</p>
<iframe src="docs/demo/exemplo1.html" class="example-iframe" style="height: 420px;"></iframe>

<div class="syo-header">
	<h4>Gerenciamento de e-mail</h4>
</div>
<p>
	<ul>
		<li> Componentes utilizados:
		<ul>
			<li><a href="base.html#tables">Table</a>
			<li><a href="base.html#grid">Grid</a>
			<li><a href="base.html#forms">Formulários</a>
			<li><a href="jquery-ui.html#tabs">jQuery UI tabs</a>
			<li><a href="base.html#type">Tipografia</a>
		</ul>
	</ul>
</p>
<h5>Normal</h5>
<iframe src="docs/demo/exemplo2.html" class="example-iframe" style="height: 800px;"></iframe>
<h5>Responsivo</h5>
<iframe src="docs/demo/exemplo2.html" class="example-iframe-split" style="height: 1600px; display: inline-block;"></iframe>
<iframe src="docs/demo/exemplo2.html#tabs-2" class="example-iframe-split" style="height: 1600px; display: inline-block;"></iframe>