<aside class="col col-small-12 col-large-2" id="sidebar-wrapper">
	<ul class="syo-nav syo-nav-list" id="sidebar">
		<li class="syo-nav-header"><i class="icon-code"></i> JavaScript</li>
		<li><a href="#overview">Overview</a></li>
		<li><a href="#pagination">Syonet Pagination</a></li>
		<li><a href="#popover">Syonet Popover</a></li>
		<li><a href="#datagrid">Syonet Data Grid</a></li>
	</ul>
</aside>

<div class="col col-small-12 col-large-10">

	<!-- Overview -->
	<article id="overview">

		<div class="syo-header">
			<h2>Overview</h2>
		</div>
		<p>
			Nesta seção são apresentados os componentes<!--/utilitários JavaScript e--> jQuery utilizados dentro do Syonet
			Bootstrap.
		</p>
		<p>
			Os <strong>componentes</strong> utilizados aqui são todos plugins
			<a href="http://jqueryui.com">jQuery UI</a>. Isto significa que todos eles tem uma API simples, concisa e
			comum àqueles que já conhecem o jQuery UI.<br>
			Além do mais, todos os componentes passam por uma bateria de testes usando o
			<a href="http://qunit.com">QUnit</a> para assegurar que eles funcionarão como devem.
		</p>
		<!--<p>
			Já os <strong>utilitários</strong> do Syonet Bootstrap extendem o ambiente JavaScript, provendo funções e
			plugins jQuery de uso comum, o que ajuda a reduzir o código.
		</p>-->

	</article>

	<!-- syoPagination -->
	<article id="pagination">

		<div class="syo-header">
			<h2>Syonet Pagination</h2>
		</div>
		<p>
			Flexível componente de paginação com visual adequado para interfaces <em>touch sensitive</em>.
			Acessível através do método jQuery <code>.syoPagination()</code>.
		</p>

		<h3>Exemplos</h3>
		<div class="syo-docs-example">
			<div class="syo-docs-example-inner">
				<div data-widget="syoPagination" data-items="3"></div>
			</div>
			<strong>HTML:</strong>
			<div class="prettyprint">
				<div class="my-pagination"></div>
			</div>
			<strong>Javascript:</strong>
			<div class="prettyprint">
				$( "#my-pagination" ).syoPagination({
					items: 3
				});
			</div>
		</div>

		<h3>API</h3>
		<h4>Opções</h4>
		<table class="syo-data-table syo-data-table-striped">
			<colgroup>
				<col class="col-large-1">
				<col class="col-large-1">
				<col class="col-large-1">
				<col class="col-large-4">
				<col class="col-large-3">
			</colgroup>
			<thead>
				<tr>
					<th>Opção</th>
					<th>Tipo</th>
					<th>Padrão</th>
					<th>Descrição</th>
					<th>Exemplo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>active</td>
					<td>number</td>
					<td><code>0</code></td>
					<td>Define o indice da página ativa.</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoPagination({
								active: 1
							});
						</div>
					</td>
				</tr>
				<tr>
					<td>items</td>
					<td>number</td>
					<td><code>1</code></td>
					<td>Número de itens da paginação.</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoPagination({
								items: 3
							});
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</article>

	<!-- syoPopover -->
	<article id="popover">

		<div class="syo-header">
			<h2>Syonet Popover</h2>
		</div>
		<p>
			Adicione balões, como os do iPad, para exibir informações secundárias. Clique no botão para exibir o
			popover e no canto superior direito para esconder.<br>
			Se você estiver em um dispositivo <em>touch sensitive</em>, também é possível tocar na barra do título para
			esconder o popover.
		</p>

		<div class="syo-docs-example">
			<div class="syo-docs-example-inner">
				<div class="popover-component" data-widget="syoPopover" data-title="Título">
					Lorem ipsum dolor sit amet
				</div>
				<div class="container-vertical">
					<button class="syo-button popover-trigger" data-position="top">Em cima</button>
					<button class="syo-button popover-trigger" data-position="right">À direita</button>
					<button class="syo-button popover-trigger" data-position="bottom">Embaixo</button>
					<button class="syo-button popover-trigger" data-position="left">À esquerda</button>
				</div>
				<div class="container-vertical">
					<button class="syo-button popover-trigger" data-position="top-start">
						Em cima, à esquerda
					</button>
					<button class="syo-button popover-trigger" data-position="right-start">
						À direita, no topo
					</button>
					<button class="syo-button popover-trigger" data-position="bottom-end">
						Embaixo, à direita
					</button>
					<button class="syo-button popover-trigger" data-position="left-end">
						À esquerda, embaixo
					</button>
				</div>
			</div>
			<strong>HTML:</strong>
			<div class="prettyprint">
				<div class="container-vertical">
					<button class="syo-button" id="popover-top">Em cima</button>
					<button class="syo-button" id="popover-right">À direita</button>
					<button class="syo-button" id="popover-bottom">Embaixo</button>
					<button class="syo-button" id="popover-left">À esquerda</button>
				</div>
				<div class="container-vertical">
					<button class="syo-button" id="popover-top-start">Em cima, à esquerda</button>
					<button class="syo-button" id="popover-right-start">À direita, no topo</button>
					<button class="syo-button" id="popover-bottom-end">Embaixo, à direita</button>
					<button class="syo-button" id="popover-left-end">À esquerda, embaixo</button>
				</div>
			</div>
			<strong>Javascript:</strong>
			<div class="prettyprint">
				$( "#popover-top" ).syoPopover({ position: "top" });
				$( "#popover-right" ).syoPopover({ position: "right" });
				$( "#popover-bottom" ).syoPopover({ position: "bottom" });
				$( "#popover-left" ).syoPopover({ position: "left" });
				$( "#popover-top-start" ).syoPopover({ position: "top-start" });
				$( "#popover-right-start" ).syoPopover({ position: "right-start" });
				$( "#popover-bottom-end" ).syoPopover({ position: "bottom-end" });
				$( "#popover-left-end" ).syoPopover({ position: "left-end" });
			</div>
		</div>

		<h3>API</h3>
		<h4>Opções</h4>
		<table class="syo-data-table syo-data-table-striped">
			<colgroup>
				<col class="col-large-1">
				<col class="col-large-1">
				<col class="col-large-1">
				<col class="col-large-4">
				<col class="col-large-3">
			</colgroup>
			<thead>
				<tr>
					<th>Opção</th>
					<th>Tipo</th>
					<th>Padrão</th>
					<th>Descrição</th>
					<th>Exemplo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>title</td>
					<td>string</td>
					<td><code>""</code></td>
					<td>Título do popover.</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoPopover({
								title: "um title"
							});
						</div>
					</td>
				</tr>
				<tr>
					<td>element</td>
					<td>
						string<br>
						jQuery<br>
						DOMElement
					</td>
					<td><code>null</code></td>
					<td>
						Define com que outro elemento o popover irá se alinhar.
						Quando o valor desta opção for uma string, a mesma será considerada um seletor jQuery.
					</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoPopover({
								element: "button.meuBotao"
							});
						</div>
					</td>
				</tr>
				<tr>
					<td>position</td>
					<td>string</td>
					<td><code>top</code></td>
					<td>
						Define qual o posicionamento do popover em relação ao elemento em que foi chamado
						<code>.syoPopover()</code>.<br>
						<strong>Valores possíveis:</strong> <code>top</code>, <code>right</code>,
						<code>bottom</code>, <code>left</code>, <code>top-start</code>, <code>right-start</code>,
						<code>bottom-end</code>, <code>left-end</code>.
					</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoPopover({
								position: "bottom-end"
							});
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</article>

	<!-- syoDataGrid -->
	<article id="datagrid">

		<div class="syo-header">
			<h2>Syonet Data Grid</h2>
		</div>
		<p>
			Uma tabela com header fixo utilizada para a manipulação de dados de acordo com o conteúdo de cada linha.<br>
			Para prever o espaçamento ocasionado por causa do scroll devemos definir tamanhos fixos para todas as
			colunas de todas as tabelas, exceto a última.
		</p>

		<div class="syo-docs-example">
			<div class="syo-docs-example-inner">
				<div data-widget="syoDataGrid">
					<div>
						<table>
							<colgroup>
								<col style="width: 200px">
								<col style="width: 200px">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>First Column</th>
									<th>Second Column</th>
									<th>Third Column</th>
								</tr>
							</thead>
						</table>
					</div>
					<div>
						<div>
							<table>
								<colgroup>
									<col style="width: 200px">
									<col style="width: 200px">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						Conteúdo opcional
					</div>
				</div>
			</div>
			<strong>HTML:</strong>
			<div class="prettyprint">
				<div id="my-datagrid">
					<div>
						<table>
							<colgroup>
								<col style="width: 200px">
								<col style="width: 200px">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>First Column</th>
									<th>Second Column</th>
									<th>Third Column</th>
								</tr>
							</thead>
						</table>
					</div>
					<div>
						<div>
							<table>
								<colgroup>
									<col style="width: 200px">
									<col style="width: 200px">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
									<tr>
										<td>Data one</td>
										<td>Data two</td>
										<td>Data three</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						Conteúdo opcional
					</div>
				</div>
			</div>
			<strong>Javascript:</strong>
			<div class="prettyprint">
				$( "#my-datagrid" ).syoDataGrid();
			</div>
		</div>

		<h3>API</h3>
		<h4>Opções</h4>
		<table class="syo-data-table syo-data-table-striped">
			<colgroup>
				<col class="col-large-1">
				<col class="col-large-1">
				<col class="col-large-1">
				<col class="col-large-3">
				<col class="col-large-4">
			</colgroup>
			<thead>
				<tr>
					<th>Opção</th>
					<th>Tipo</th>
					<th>Padrão</th>
					<th>Descrição</th>
					<th>Exemplo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>beforeActivate</td>
					<td>function</td>
					<td><code>null</code></td>
					<td>Evento executado quando a linha é clicada pelo usuário, mas antes de qualquer coisa acontecer.</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoDataGrid({
								beforeActivate: function( e, data ) {
									// linha atualmente ativa
									console.log( data.oldItem );

									// linha que será ativada
									console.log( data.newItem );
								}
							});
						</div>
					</td>
				</tr>
				<tr>
					<td>activate</td>
					<td>function</td>
					<td><code>null</code></td>
					<td>Evento executado após a linha ser clicada pelo usuário.</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoDataGrid({
								activate: function( e, data ) {
									// linha anteriormente ativa
									console.log( data.oldItem );

									// linha atualmente ativa
									console.log( data.newItem );
								}
							});
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<h4>Métodos</h4>
		<table class="syo-data-table syo-data-table-striped">
			<colgroup>
				<col class="col-large-2">
				<col class="col-large-1">
				<col class="col-large-5">
				<col class="col-large-4">
			</colgroup>
			<thead>
				<tr>
					<th>Método</th>
					<th>Retorno</th>
					<th>Descrição</th>
					<th>Exemplo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>refresh()</td>
					<td>Elemento jQuery</td>
					<td>
						Recarrega o visual e comportamento do componente. Útil para quando uma nova porção de HTML é
						introduzida na estrutura depois que o plugin já tenha sido chamado.
					</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoDataGrid( "refresh" );
						</div>
					</td>
				</tr>
				<tr>
					<td>destroy()</td>
					<td>Elemento jQuery</td>
					<td>
						Remove completamente a funcionalidade do grid. Isto retornará o elemento ao seu estado original
						antes da inicialização do plugin.
					</td>
					<td>
						<div class="prettyprint">
							$( ... ).syoDataGrid( "destroy" );
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<h4>Manipulação</h4>
		<h5>Height</h5>
		<p>
			Você pode manipular o height do corpo da estrutura para fechar com as suas necessidades.
		</p>
		<h5>Exemplos</h5>
		<p>
			Ignorar o max-height padrão.
		</p>
		<div class="prettyprint">
			.syo-datagrid-body {
				max-height: none;
			}
		</div>
		<p>
			Definir um height fixo para um grid específico na página
		</p>
		<div class="prettyprint">
			#some-grid .syo-datagrid-body {
				max-height: none;
				height: 300px;
			}
		</div>

	</article>

</div>
