<aside class="span2" id="sidebar-wrapper">
    <ul class="syo-nav syo-nav-list" id="sidebar">
        <li class="syo-nav-header"><i class="icon-flag"></i> jQuery UI</li>
        <li><a href="#accordion">Accordion</a></li>
        <li><a href="#button">Button/Buttonset</a></li>
        <li><a href="#datepicker">Datepicker</a></li>
        <li><a href="#dialog">Dialog</a></li>
        <li><a href="#progressbar">Progressbar</a></li>
        <li><a href="#slider">Slider</a></li>
        <li><a href="#spinner">Spinner</a></li>
        <li><a href="#tabs">Tabs</a></li>
        <li><a href="#tooltip">Tooltip</a></li>
    </ul>
</aside>

<div class="span10">
    <!-- Accordion -->
    <article id="accordion">
        <div class="syo-header">
            <h2>Accordion</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div data-widget="accordion">
                    <h3><a href="#">Accordion 1</a></h3>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac lorem at augue vulputate volutpat.
                    </div>

                    <h3><a href="#">Accordion 2</a></h3>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac lorem at augue vulputate volutpat.
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- Button/Buttonset -->
    <article id="button">
        <div class="syo-header">
            <h2>Button/Buttonset</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <p>
                    <button data-widget="button">Botão</button>
                </p>

                <div data-widget="buttonset">
                    <input type="checkbox" id="chk-button1" />
                    <label for="chk-button1">1</label>

                    <input type="checkbox" id="chk-button2" />
                    <label for="chk-button2">2</label>

                    <input type="checkbox" id="chk-button3" />
                    <label for="chk-button3">3</label>
                </div>
            </div>
        </div>
    </article>

    <!-- Datepicker -->
    <article id="datepicker">
        <div class="syo-header">
            <h2>Datepicker</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div data-widget="datepicker"></div>
            </div>
        </div>
    </article>

    <!-- Dialog -->
    <article id="dialog">
        <div class="syo-header">
            <h2>Dialog</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <button class="open-dialog" data-widget="button">Abrir Dialog</button>
                <div class="dialog" data-auto-open="false" data-widget="dialog" data-title="Lorem ipsum">Lorem ipsum dolor sit amet</div>
            </div>
        </div>
    </article>

    <!-- Progressbar -->
    <article id="progressbar">
        <div class="syo-header">
            <h2>Progressbar</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div data-widget="progressbar" data-value="65"></div>
            </div>
        </div>
    </article>

    <!-- Slider -->
    <article id="slider">
        <div class="syo-header">
            <h2>Slider</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div data-widget="slider" data-range="min" data-value="50"></div>
            </div>
        </div>
    </article>

    <!-- Spinner -->
    <article id="spinner">
        <div class="syo-header">
            <h2>Spinner</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <input type="text" data-widget="spinner" />
            </div>
        </div>
    </article>

    <!-- Tabs -->
    <article id="tabs">
        <div class="syo-header">
            <h2>Tabs</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <div data-widget="tabs">
                    <ul>
                        <li><a href="#tab-1">Tab 1</a></li>
                        <li><a href="#tab-2">Tab 2</a></li>
                    </ul>

                    <div id="tab-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac lorem at augue vulputate volutpat. Cras commodo aliquam fringilla. Etiam a tortor nisi. Etiam eu elit velit, quis congue quam. Praesent eu nisl odio. In sollicitudin eleifend risus, a posuere felis iaculis elementum. Pellentesque id ipsum magna. Integer nec nibh nec mi convallis lobortis sed sit amet mauris.
                    </div>

                    <div id="tab-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac lorem at augue vulputate volutpat. Cras commodo aliquam fringilla. Etiam a tortor nisi. Etiam eu elit velit, quis congue quam. Praesent eu nisl odio. In sollicitudin eleifend risus, a posuere felis iaculis elementum. Pellentesque id ipsum magna. Integer nec nibh nec mi convallis lobortis sed sit amet mauris.
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- Tooltip -->
    <article id="tooltip">
        <div class="syo-header">
            <h2>Tooltip</h2>
        </div>

        <div class="syo-docs-example">
            <div class="syo-docs-example-inner">
                <span class="tooltip" data-widget="tooltip" title="Lorem ipsum dolor sit amet">Passe o mouse aqui!</span>
            </div>
        </div>
    </article>
</div>