/* =================================================================================================================
   Geral
   ================================================================================================================= */

.test-container {
  max-width: 1000px;
  margin: auto;
}

.test {
  margin: 5px;
  padding: 5px;
  border: 1px dashed;
  overflow: auto;
}

.test .row {
  margin: 0;
}

.test .title {
  border-bottom: thin silver solid;
}

/* =================================================================================================================
   Utilidades
   ================================================================================================================= */

/* Destaque do background para inspeção visual */
.test-highlight1 {
  background-color: rgba( 255, 0, 0, .2 );
}

/* Destaque do background para inspeção visual */
.test-highlight2 {
  background-color: rgba( 255, 0, 0, .4 );
}

/*
 * Remove as margens do elemento para melhor inspeção de outros estilos como sombra ou borda
 * 1. Sobrescreve a especificidade resultante do margin-bottom de um campo dentro de um syo-field "display: inline"
 */
.test-trimmed,
.syo-field.syo-field-inline input, /* 1 */
.syo-field.syo-field-inline button, /* 1 */
.syo-field.syo-field-inline select, /* 1 */
.syo-field.syo-field-inline textarea { /* 1 */
  margin: 0;
}

/*
 * Utilizado para expandir o espaço em volta do elemento a fim de impedir que os estilos padrões do teste atrapalhem
 * a inspeção
 */
.test-lone >:not(.title) {
  padding: 30px;
}

/* Tamanho fixo para não contrair o conteúdo em resoluções menores */
.test-fixed > * {
  min-width: 900px;
}