/* =================================================================================================================
   Form-Table - Componente de formulário dentro de uma tabela
   ================================================================================================================= */

.syo-form-table {
  &:extend( .syo-table all );

  > thead {
    background-image: linear-gradient(to bottom, #E6E6E6, #D2D2D2);

    > tr > th {
      text-align: center;
    }
  }

  &.syo-small {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

/* =================================================================================================================
   Tabela - Headers/Footers
   ================================================================================================================= */
.syo-form-table > tbody > tr > th,
.syo-form-table > tfoot {
  color: @gray-dark;
  text-shadow: 0 1px 0 #FFF;
  #gradient .brand();
}