/* =================================================================================================================
   Form-Table - Componente de formulário dentro de uma tabela
   ================================================================================================================= */

.syo-form-table {
  &:extend( .syo-table all );

  > thead {
    background-image: linear-gradient(to bottom, #E6E6E6, #D2D2D2);

    > tr > th {
      text-align: center;
    }
  }

  > tbody > tr > td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: middle;

    input, select {
      min-height: 28px;
      height: 28px;
  	}

  	i[class*="icon-"], span[class*="icon-"] {
  		font-size: 18px;
        cursor: pointer;  
        margin-top: 6px;    
        margin-left: 4px;

        &:hover {
        	opacity: .8;
        }
  	}
  }

  &.syo-small {
    font-size: 12px;
    margin-bottom: 8px;

    input, select {
      min-height: 25px;
      height: 25px;
  	}
  }
}

/* =================================================================================================================
   Tabela - Headers/Footers
   ================================================================================================================= */
.syo-form-table > tbody > tr > th,
.syo-form-table > tfoot {
  color: @gray-dark;
  text-shadow: 0 1px 0 #FFF;
  #gradient .brand();
}