/* =================================================================================================================
   Headers
   ================================================================================================================= */

.syo-header,
.syo-subheader {
  display: block;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin: 0;
  }
}

.syo-header {
  margin-bottom: @computed-line-height;
}

.syo-subheader {
  margin-bottom: @computed-line-height / 3;
}

.syo-header-ruler {
  border-bottom: 1px solid @gray;
}

.syo-header-bar {
  padding: @computed-line-height / 2;
  background-color: @brand-default;
}