/* ==============================================================================================
   Tipografia
   ============================================================================================== */

/* Parágrafos
   ---------- */

p {
  margin: 0 0 ( @computed-line-height / 2 );

  &.lead {
    margin-bottom: @computed-line-height;
    font-size: @font-size-base * 1.5;
    font-weight: 200;
  }
}

/* Endereços
   --------- */

address {
  font-style: normal;
}

/* Ênfase
   ------ */

small { font-size: 85%; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }

/* Citações
   -------- */
blockquote {
  margin: 0 0 @computed-line-height;
  padding: @padding-base-vertical @padding-base-horizontal;
  border-left: 3px solid @brand-default-border;
}

/* Descrições
   ---------- */

dl {
  margin-top: 0;
  margin-bottom: @computed-line-height;
}

dt, dd { line-height: @component-height; }
dt { font-weight: bold; }
dd { margin-left: 0; }

dl.dl-inline {
  .row &.row {
    margin-left: 0;
    margin-right: 0;
  }

  dt,
  dd {
    min-height: @component-height;
  }

  dt {
    float: left;
    clear: left;
    .text-overflow();

    &:not( .col ):not( [ class*="col-" ] ) {
      width: @dl-term-width;
    }
  }

  dd {
    display: block;

    &:not( .col ):not( [ class*="offset-" ] ) {
      margin-left: @dl-term-width + 10px;
    }
  }
}

/* Alinhamento de texto
   -------------------- */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

/* Cores de texto
   -------------- */
.syo-text-success { color: @brand-success; }
.syo-text-warning { color: @brand-warning; }
.syo-text-error   { color: @brand-error; }
.syo-text-info    { color: @brand-info; }
.syo-text-default { color: @text-color; }