/* ==============================================================================================
   Tipografia
   ============================================================================================== */

/* Parágrafos
   ---------- */

p {
  margin: 0 0 ( @computed-line-height / 2 );

  &.lead {
    margin-bottom: @computed-line-height;
    font-size: @font-size-base * 1.5;
    font-weight: 200;
  }
}

/* Endereços
   --------- */

address {
  font-style: normal;
}

/* Ênfase
   ------ */

small { font-size: 85%; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }

/* Headings
   -------- */

/*
 * 1. Corrige o espaçamento de caracteres para headings
 */
h1, h2, h3, h4, h5, h6 {
  margin: ( @computed-line-height / 2 ) 0;
  font-family: @base-font-family;
  font-weight: bold;
  text-rendering: optimizelegibility; /* 1 */

  small {
    line-height: 1;
    font-weight: normal;
    color: @gray-light;
  }
}

h1 { font-size: @font-size-base * 2.75; }
h2 { font-size: @font-size-base * 2.25; }
h3 { font-size: @font-size-base * 1.75; }
h4 { font-size: @font-size-base * 1.25; }
h5 { font-size: @font-size-base; }
h6 { font-size: @font-size-base * 0.85; }

h1 small { font-size: @font-size-base * 1.75; }
h2 small { font-size: @font-size-base * 1.25; }
h3 small { font-size: @font-size-base; }
h4 small { font-size: @font-size-base; }

/* Descrições
   ---------- */

dl {
  margin-top: 0;
  margin-bottom: @computed-line-height;
}

dt, dd { line-height: @component-height; }
dt { font-weight: bold; }
dd { margin-left: 0; }

dl.dl-inline {
  .row &.row {
    margin-left: 0;
    margin-right: 0;
  }

  dt,
  dd {
    min-height: @component-height;
  }

  dt {
    float: left;
    clear: left;
    .text-overflow();

    &:not( .col ):not( [ class*="col-" ] ) {
      width: @dl-term-width;
    }
  }

  dd {
    display: block;

    &:not( .col ):not( [ class*="offset-" ] ) {
      margin-left: @dl-term-width + 10px;
    }
  }
}

/* Alinhamento de texto
   -------------------- */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }