@import "../styles/variables.less";
@import "../styles/mixins.less";

.header {
	padding-top: @baseLineHeight * 2;
	padding-bottom: @baseLineHeight * 2;
	background: @grayLighter;
}

#sidebar-wrapper {
  position: relative;
}

#sidebar {
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  #sidebar {
    position: static;
  }
}

section {
  padding-top: @navbarHeight;
}

.syo-docs-example {
  margin: @baseLineHeight 0;
  padding: (@baseLineHeight * 2) 0 0;
  border: 1px solid @grayLight;
  background: #fdfdfd;
  .border-radius(@baseBorderRadius);
  .box-shadow(0 1px 4px fade(#000, 10%));

  &:before {
    @lineHeight: 15px;

    position: relative;
    top: -(@baseLineHeight + @lineHeight - 1px); // @baseLineHeight (padding-top do container) + line-height do seletor atual - 1px da borda
    left: -1px;
    padding: 10px;
    border: 1px solid @grayLight;
    #font .shorthand(@grayDark, @lineHeight, 11px, @baseFontFamily, bold);
    background: @grayLighter;
    content: "Exemplo";
    .border-radius(@baseBorderRadius 0 @baseBorderRadius 0);
  }

  .syo-docs-example-inner {
    padding: 0 @baseLineHeight @baseLineHeight;
  }

  pre.prettyprint {
    margin: 0;
    .border-radius-bottom(@baseBorderRadius);
  }
}

.grid-example {
  .row {
    margin-bottom: @baseLineHeight;
  }

  [class*="span"] {
    padding: 5px;
    font-size: .9;
    background: @grayLighter;
    .border-radius(@baseBorderRadius);

	  &:hover {
      background: lighten(@grayLight, 3%);
    }
  }
}