@import "../styles/variables.less";
@import "../styles/mixins.less";

.header {
	padding-top: @base-line-height * 2;
	padding-bottom: @base-line-height * 2;
	background: @gray-lighter;
}

#sidebar-wrapper {
  position: relative;
}

#sidebar {
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  #sidebar {
    position: static;
  }
}

section {
  padding-top: @navbar-height;
}

.syo-docs-example {
  margin: @base-line-height 0;
  padding: (@base-line-height * 2) 0 0;
  border: 1px solid @gray-light;
  background: #fdfdfd;
  .border-radius(@base-border-radius);
  .box-shadow(0 1px 4px fade(#000, 10%));

  &:before {
    @line-height: 15px;

    position: relative;
    top: -(@base-line-height + @line-height - 1px); // @base-line-height (padding-top do container) + line-height do seletor atual - 1px da borda
    left: -1px;
    padding: 10px;
    border: 1px solid @gray-light;
    #font .shorthand(@gray-dark, @line-height, 11px, @base-font-family, bold);
    background: @gray-lighter;
    content: "Exemplo";
    .border-radius(@base-border-radius 0 @base-border-radius 0);
  }

  .syo-docs-example-inner {
    padding: 0 @base-line-height @base-line-height;
  }

  pre.prettyprint {
    margin: 0;
    .border-radius-bottom(@base-border-radius);
  }
}

.grid-example {
  .row {
    margin-bottom: @base-line-height;
  }

  [class*="span"] {
    padding: 5px;
    font-size: .9;
    background: @gray-lighter;
    .border-radius(@base-border-radius);

	  &:hover {
      background: lighten(@gray-light, 3%);
    }
  }
}