<div id="buttonset">
    <button type="button">1</button>
    <button type="button">2</button>
    <input type="button" value="3" />
	<span id="not-a-button"></span>
</div>

<button id="button" type="button">4</button>

<script>
	QUnit.done(function() {
		$("#buttonset, #button").remove();
	});
</script>
<script src="../scripts/button.js"></script>
<script src="specs/button/general.js"></script>
<script src="specs/button/options.js"></script>
<script src="specs/button/methods.js"></script>
<script src="specs/button/events.js"></script>