<div id="pagination"></div>

<script>
QUnit.done(function() {
    $("#pagination").remove();
});
</script>
<script src="../scripts/pagination.js"></script>
<script src="specs/pagination/general.js"></script>
<script src="specs/pagination/options.js"></script>
<script src="specs/pagination/methods.js"></script>
<script src="specs/pagination/events.js"></script>