<div id="popover">Lorem ipsum</div>

<script>
QUnit.done(function() {
    $("#popover").remove();
});
</script>
<script src="../scripts/popover.js"></script>
<script src="specs/popover/general.js"></script>
<script src="specs/popover/options.js"></script>
<script src="specs/popover/methods.js"></script>