/*
 * 1. Espaçamento vertical para não colar 2 blocks seguidos
 */
.syo-block {
  margin-bottom: @computed-line-height; /* 1 */
  border: 1px solid @block-border-color;
  .border-radius( @block-border-radius );
  .box-shadow( 0 1px 4px fade( #000, 10% ) );
}

.syo-block-header {
  position: relative;
  display: table;
  width: 100%;
  height: @component-height + 8px; // 4px de padding top + bottom
  padding: 4px 0;
  color: @block-title-text;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  cursor: default;
  #gradient .brand();
}

.syo-block-title,
.syo-block-toolbar {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

.syo-block-title {
  width: 100%;
}

.syo-block-toolbar {
  width: 1%;
  white-space: nowrap;
}

.syo-block-content {
  margin: -1px 0 0;
  padding: ( @computed-line-height / 2 );
}

/*
 * 1. Adiciona uma borda separadora entre conteúdo + título ou conteúdo + conteúdo
 */
.syo-block-content + .syo-block-content,
.syo-block-header + .syo-block-content,
.syo-block-content + .syo-block-header {
  border-top: 1px solid @block-border-color; /* 1 */
}

/* Seta o border-radius corretamente */
.syo-block-header:first-child { .border-radius-top( @block-border-radius ); }

/* Seta o border-radius corretamente */
.syo-block-header:last-child { .border-radius-bottom( @block-border-radius ); }