// Botões
// -------------------------

.syo-button {
  // FF4 Precisa do height definido
  height: @input-height;
  display: inline-block;
  padding: (((@input-height - @base-line-height) - 2px) / 2) 12px;
  border: 1px solid fade(@input-border, 35%);
  border-bottom-color: lighten(@input-border, 10%);
  // Anchor tags não possuem o alinhamento centralizado por default
  text-align: center;
  vertical-align: middle;
  #font .shorthand(@input-text-color);
  #gradient .vertical();
  .border-radius(@base-border-radius);
  .box-shadow(0 1px 0 fade(#fff, 20%) inset);

  &:hover {
    border-color: @input-hover-border;
    background: @component-bg;
    .transition( @button-bg-transition );
  }

  &:focus {
    outline: dotted thin #333;
  }

  &.syo-active,
  &:active {
    background: @gray-lighter;
    border-color: fade(@input-border, 70%);
    .box-shadow(0 2px 4px fade(#000, 15%) inset);
    outline: 0;
  }

  &:hover, &:active {
    color: @input-hover-text;
    // Desabilita efeitos de links
    text-decoration: none;
  }
}

// Corrige altura de quando é uma tag input
input.syo-button {
  height: @input-height;
}

// Buttonset
// ---------
.syo-buttonset {
  .clearfix();

  > .syo-button {
    float: left;
    .border-radius(0);

    + .syo-button {
      // Evita borda dupla
      margin-left: -1px;
    }

    &.syo-active,
    &:hover,
    &:focus {
      // Para o z-index ser considerado temos que mudar a posição para qualquer outra além de static.
      position: relative;
      // Aumentando o z-index faz com que a borda do item ativo/hover fique sobre a dos seus vizinhos
      z-index: 1;
    }

    // Corrige border-radius no primeiro e no último botões do buttonset
    &:first-child { .border-radius-left(@base-border-radius); }
    &:last-child  { .border-radius-right(@base-border-radius); }
  }
}

// Estados
// -------

// Sucesso
.syo-button.syo-success {
  #gradient .vertical(@input-success-highlight-color, @input-success-color);
  border-color: @input-success-color;

  &:hover {
    background: @input-success-color;
    border-color: @input-success-hover-border;
  }
}

// Erro
.syo-button.syo-error {
  #gradient .vertical(@input-error-highlight-color, @input-error-color);
  border-color: @input-error-color;

  &:hover {
    background: @input-error-color;
    border-color: @input-error-hover-border;
  }
}

// Cor do texto do botão.
// Padrão é branco pra todos os botões não-default
.syo-button.syo-success,
.syo-button.syo-error {
  color: #fff;
}

// Desabilitado
.syo-button[disabled],
.syo-button.syo-disabled {
  border-color: @input-disabled-border !important;
  background: @input-disabled-background !important;
  color: @input-disabled-text !important;
  cursor: default;
  .box-shadow(none);
  .opacity(0.8);
}