code,
pre {
  padding: 1px 3px;
  vertical-align: middle;
  #font .shorthand ( @gray-dark, @base-line-height, @base-font-size - 2, @mono-font-family );
  .border-radius( @border-radius-small );
}

code {
  border: 1px solid #E1E1E1;
  color: #D14;
  background-color: #F7F7F7;
}