// Código
// -------------------------

code,
pre {
  padding: 1px 3px;
  #font .shorthand (@gray-dark, @base-line-height, @base-font-size - 2, @mono-font-family);
  vertical-align: middle;
  .border-radius(@border-radius-small);
}

code {
  border: 1px solid #e1e1e1;
  color: #d14;
  background-color: #f7f7f7;
}