// Forms
// -------------------------
input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="color"],
input[type="submit"].syo-button,
input[type="reset"].syo-button,
input[type="button"].syo-button,
button.syo-button,
select,
textarea {
  min-height: @inputHeight;
  height: @inputHeight;
  padding: 3px;
  border: 1px solid @inputBorder;
  background-color: @inputBackground;

  // Tem que usar line-height: normal por causa de um bug do Firefox.
  #font .shorthand(@inputTextColor, normal);
  .border-radius(@inputBorderRadius);
  .box-sizing(border-box);
  .transition(all .15s linear);
  text-shadow: 0 1px 0 #fff;

  &:hover {
    border-color: @inputHoverBorder;
    color: @inputHoverText;
    background-color: @inputHoverBackground;
    .box-shadow(0 1px 2px rgb(210, 210, 210));
  }

  &:focus {
    border-color: @inputFocusBorder;
    background-color: @inputBackground;
    .box-shadow(none);
  }

  &.input-block-level {
    display: block;
    width: 100%;
  }

  &[disabled],
  &.syo-disabled {
    border-color: @inputDisabledBorder !important;
    color: @inputDisabledText !important;
    background: @inputDisabledBackground !important;
    .box-shadow(~"none !important");
    cursor: default;
  }
}

textarea {
  // Reseta o height do textarea, afinal eles tem rows!
  height: auto;
}

select {
  line-height: @inputHeight;
  // Padding necessário para alinhar verticalmente o texto do option selecionado.
  padding: ((@inputHeight - @baseLineHeight) / 2) 2px;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 0.2em;
}

input[type="button"].syo-button,
input[type="submit"].syo-button,
input[type="reset"].syo-button,
button.syo-button {
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  .transition(~"border-color 0.15s linear, color 0.15s linear, box-shadow 0.15s linear");

  &, &:focus { #gradient .vertical(); }

  &:focus {
    outline: dotted thin @grayDark;
    outline-offset: 1px;
  }

  // Usamos imagem de background, desnecessário setar a cor.
  //&:hover     { background-color: @buttonHoverBackrgoundColor; }
  &:active    { background: @buttonActiveBackgroundColor; }
}

// Labels, fieldsets, legends
// -------------------------
fieldset {
  margin: 2px;
  padding: .5em;
  border: 1px solid @grayLight;
  .border-radius(@borderRadiusLarge);
  .box-sizing(border-box);
}

legend {
  padding: 0 10px;
  border: 1px solid @grayLight;
  #font .shorthand(@textColor, @baseLineHeight, @baseFontSize - 1, @baseFontFamily, bold);
  background-color: @grayLighter;
  .border-radius(@baseBorderRadius);
}

label {
  display: inline-block;
  #font .shorthand(@textColor, @inputHeight);
  vertical-align: middle;
  text-align: right;

  > input,
  + input,
  > select,
  + select,
  > textarea,
  + textarea,
  > button,
  + button {
    margin-left: 3px;
  }

  > input[type="checkbox"],
  > input[type="radio"] {
    position: relative;
    top: 0.15em;
  }
}

input, textarea, select, button {
  + label {
    margin-left: 3px;
  }
}

// syo-field
// -------------------------
.syo-field {
  margin-bottom: 3px;
  #font .shorthand();

  &.syo-field-inline {
    display: inline-block;
  }

  > .syo-field-controls {
    display: inline-block;
    vertical-align: top;

    &:not([class*="span"]) {
      margin-left: 3px;
    }
  }

  > input,
  > textarea,
  > select,
  > button {
    vertical-align: top;
  }

  > input[type="radio"],
  > input[type="checkbox"] {
    position: relative;
    top: 0.45em;
  }

  .syo-field-help {
    display: block;
    color: @inputTextColor;
  }
}

// Estados
// -------------------------

// Inputs
input {
  &.syo-success {
    &, &:hover, &:focus {
      border-color: @inputSuccessColor;
      color: @inputSuccessColor;
    }
  }

  &.syo-error {
    &, &:hover, &:focus {
      border-color: @inputErrorColor;
      color: @inputErrorColor;
    }
  }
}

// Botão
.syo-button {
  // Antigo .syo-green
  &.syo-success {
    border-color: @inputSuccessColor;

    &, &:focus {
      #gradient .vertical(@inputSuccessHighlightColor, @inputSuccessColor);
    }

    &:hover, &:focus {
      border-color: darken(@inputSuccessColor, 5%);
      background-color: @inputSuccessColor;
    }

    &:active {
      color: @inputSuccessColor;
    }
  }

  // Antigo .syo-red
  &.syo-error {
    border-color: @inputErrorColor;

    &, &:focus {
      #gradient .vertical(@inputErrorHighlightColor, @inputErrorColor);
    }

    &:hover, &:focus {
      border-color: darken(@inputErrorColor, 5%);
      background-color: @inputErrorColor;
    }
  }

  // Remove aquele text-shadow branco que não combina com as cores de sucesso/erro
  &.syo-error, &.syo-success {
    text-shadow: none;
    .transition(none);

    &, &:focus, &:hover {
      color: #fff;
    }

    &:active {
      background: @buttonActiveBackgroundColor;
    }

    &:hover, &:focus {
      background-position: 0 -15px;
      .transition(~"background-position 0.15s linear");
    }
  }

  // Sobrescreve o color quando active + hover
  &.syo-success:active { color: @inputSuccessColor; }
  &.syo-error:active { color: @inputErrorColor; }
}