/* =================================================================================================================
   Base
   ================================================================================================================= */

/*
 * 1. Tem que usar line-height: normal por causa de um bug do Firefox
 *    TODO: Qual bug?
 * 2. Declara antes de tudo para remover o outline azul do safari
 */
input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="color"],
select,
textarea {
  min-height: @input-height;
  height: @input-height;
  padding: 3px;
  border: 1px solid @input-border;
  background-color: @input-background;
  #font .shorthand( @input-text-color, normal ); /* 1 */
  .border-radius( @input-border-radius );
  .transition( ~"box-shadow .15s linear, color .15s linear" );
  text-shadow: 0 1px 0 #FFF;
  &:hover {
    border-color: @input-hover-border;
    color: @input-hover-text;
    background-color: @input-hover-background;
    .box-shadow( 0 1px 2px rgb( 210, 210, 210 ) );
  }
  &:focus {
    outline: none; /* 2 */
    border-color: @input-focus-border;
    background-color: @input-background;
    .box-shadow( 0 1px 2px rgb( 210, 210, 210 ) );
  }
  &.input-block-level {
    display: block;
    width: 100%;
  }
  &[disabled],
  &.syo-disabled {
    // TODO: Precisa de "!important" aqui?
    border-color: @input-disabled-border !important;
    background: @input-disabled-background !important;
    color: @input-disabled-text !important;
    .box-shadow( ~"none !important" );
    cursor: default;
  }
}

/* Reseta o height de select múltiplo/textarea */
textarea[rows],
select[size],
select[multiple] {
  height: auto;
}

/*
 * 1. Padding necessário para alinhar verticalmente o texto do option selecionado
 * 2. Safari controla o height baseado no line-height
 *    TODO: Descobrir pq para o safari precisamos reduzir 6px do line-height
 * 3. Evita que fique o text-shadow ao botar o mouse sobre um item no select
 */
select {
  padding: ( ( @input-height - @computed-line-height ) / 2 ) 2px; /* 1 */
  line-height: @input-height - 6px; /* 2 */
  option {
    text-shadow: none; /* 3 */
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: .2em;
}

/* =================================================================================================================
   Labels, fieldsets, legends
   ================================================================================================================= */

fieldset {
  margin: 2px 2px @computed-line-height / 2;
  padding: .5em;
  border: 1px solid @gray-light;
  .border-radius( @border-radius-large );
}

legend {
  padding: 0 10px;
  border: 1px solid @gray-light;
  //#font .shorthand( @text-color, @base-line-height, @base-font-size - 1, @base-font-family, bold );
  background-color: @gray-lighter;
  .border-radius( @base-border-radius );
}

/*
 * 1. Alinha o checkbox/radio com a primeira linha de texto do label pai
 */
label {
  display: inline-block;
  vertical-align: middle;
  #font .shorthand( @text-color, @input-height );
  text-align: right;
  > input,
  + input,
  > select,
  + select,
  > textarea,
  + textarea,
  > button,
  + button {
    &:not(.input-block-level) {
      margin-left: 3px;
    }
  }
  > input[type="checkbox"],
  > input[type="radio"] {
    position: relative;
    top: .15em; /* 1 */
  }
}

input, textarea, select, button {
  + label {
    margin-left: 3px;
  }
}

/* =================================================================================================================
   syo-field
   ================================================================================================================= */

/*
 * 1. Muda de inline para inline-block para corrigir um bug no IE10 onde o textarea não fica alinhado com os outros
 * inputs. O tamanho do field fica sendo controlado pelo input dentro dele.
 * 2. Compensa a remoção do inline-block (1)
 */
.syo-field {
  margin-bottom: @computed-line-height / 2;
  #font .shorthand();
  &.syo-field-inline {
    display: inline; /* 1 */
    input, select, textarea, button {
      margin-bottom: @computed-line-height / 2; /* 2 */
    }
  }
  > input,
  > textarea,
  > select,
  > button {
    vertical-align: middle;
  }
  > input[type="radio"],
  > input[type="checkbox"] {
    position: relative;
    top: .6em;
    vertical-align: top;
  }
  .syo-field-help {
    display: block;
    color: @input-text-color;
  }
}

/* =================================================================================================================
   States
   ================================================================================================================= */

input,
select {
  &.syo-success {
    &,
    &:hover,
    &:focus {
      border-color: @input-success-border;
      color: @input-success-color;
    }
  }
  &.syo-error {
    &,
    &:hover,
    &:focus {
      border-color: @input-error-border;
      color: @input-error-color;
    }
  }
}

/* =================================================================================================================
   Layout Responsivo
   ================================================================================================================= */

/*
 * 1. Labels devem ficar alinhados à esquerda em resoluções pequenas.
 */
@media screen and ( max-width: @screen-small-max ) {
  label {
    text-align: left; /* 1 */
  }
}