// Grid
// -------------------------
.row {
  width: 100%;
  .clear-float();
}

[class*="span"] {
  min-height: 1px;
  float: left;

  &:first-child {
    margin-left: 0;
  }
}

#grid(@gridColumns, @fluidGridColumnWidth, @fluidGridGutterWidth, @gridRowWidth);