.row {
  width: 100%;
  .clear-float();
}

[class*="span"] {
  float: left;
  min-height: 1px;
  &:first-child {
    margin-left: 0;
  }
}

#grid( @gridColumns, @fluidGridColumnWidth, @fluidGridGutterWidth, @gridRowWidth );