.row {
  .clear-float();

  .row {
    margin-left: -( @grid-gutter-width / 2 );
    margin-right: -( @grid-gutter-width / 2 );
  }
}

/*
 * 1. Evita que elementos vazios colapsem
 */
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px; /* 1 */
  padding-left: ( @grid-gutter-width / 2 );
  padding-right: ( @grid-gutter-width / 2 );
}

@media only screen {
  #grid( small );
}

@media screen and ( min-width: @screen-medium ) {
  #grid( large );
}