/* =================================================================================================================
   FontAwesome
   ================================================================================================================= */

@import "vendor/fontawesome/less/variables.less";
@import "vendor/fontawesome/less/mixins.less";
@import "vendor/fontawesome/less/path.less";
@import "vendor/fontawesome/less/spinning.less";
@import "vendor/fontawesome/less/rotated-flipped.less";
@import "vendor/fontawesome/less/icons.less";

@fa-font-path: "fonts";
@fa-css-prefix: icon;

/* =================================================================================================================
   Uso
   ================================================================================================================= */

/*
 * 1. Utilizamos este seletor para não dar conflito com os icones do jQuery UI (.ui-icon-*)
 * 2. Garante que o width acompanhará tamanho de fontes maiores
 */
[class^="icon-"]:before,
[class*=" icon-"]:before { /* 1 */
  min-width: 14px;
  display: inline-block;
  line-height: 1;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* =================================================================================================================
   Aliases
   ================================================================================================================= */

// times => remove
.@{fa-css-prefix}-remove:before { content: @fa-var-times; }
.@{fa-css-prefix}-remove-circle:before { content: @fa-var-times-circle; }
.@{fa-css-prefix}-remove-circle-o:before { content: @fa-var-times-circle-o; }

// check => ok
.@{fa-css-prefix}-ok:before { content: @fa-var-check; }
.@{fa-css-prefix}-ok-circle:before { content: @fa-var-check-circle; }
.@{fa-css-prefix}-ok-circle-o:before { content: @fa-var-check-circle-o; }