// Layouts
// -------------------------

.container {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}

.container-vertical {
  padding-top: @baseLineHeight;
  padding-bottom: @baseLineHeight;
}