/* =================================================================================================================
   Navs
   ================================================================================================================= */

/*
 * Estilos globais de componentes Nav
 * 1. Melhora visualização da outline no conteúdo esquerdo da navbar
 */
ol.syo-nav,
ul.syo-nav {
  margin-left: 1px; /* 1 */
  margin-bottom: @computed-line-height;
  list-style: none;
  a {
    text-decoration: none;
  }
}

/* =================================================================================================================
   Nav list
   ================================================================================================================= */

/*
 * 1. Estilo do header
 * 2. Corrige o border-radius do primeiro elemento
 * 3. Corrige o border-radius do último elemento
 */
ul.syo-nav-list,
ol.syo-nav-list {
  border: 1px solid @nav-border-color;
  .border-radius(@base-border-radius);
  .box-shadow(0 1px 4px fade(#000, 10%));

  > li {
    border-bottom: 1px solid @nav-border-color;
    background: @body-color;

    > a {
      display: block;
      padding: (@computed-line-height / 3) (@computed-line-height / 2);
      &:hover {
        background: @component-bg-hover;
      }
    }

    /* 1 */
    &.syo-nav-header {
      padding: 8px 10px;
      color: @gray-dark;
      font-weight: bold;
      font-size: floor(@font-size-base * 0.9);
      #gradient .vertical();
      text-shadow: 0 1px 0 #fff;
    }

    /* 2 */
    &:first-child {
      &, > a {
        .border-radius-top(@base-border-radius);
      }
    }

    /* 3 */
    &:last-child {
      border-bottom: 0;
      &, > a {
        .border-radius-bottom(@base-border-radius);
      }
    }
  }
}