// Navs
// -------------------------

// Estilos globais de componentes Nav
ol.syo-nav,
ul.syo-nav {
  margin-left: 0;
  margin-bottom: @baseLineHeight;
  list-style: none;

  a {
    text-decoration: none;
  }
}

// Nav list
// -------------------------
ul.syo-nav-list,
ol.syo-nav-list {
  border: 1px solid @navBorderColor;
  .border-radius(@baseBorderRadius);
  .box-shadow(0 1px 4px fade(#000, 10%));

  > li {
    border-bottom: 1px solid @navBorderColor;
    background: @bodyColor;

    > a {
      display: block;
      padding: (@baseLineHeight / 3) (@baseLineHeight / 2);
      .transition(background 0.15s linear);

      &:hover {
        background: lighten(@grayLighter, 3%);
      }
    }

    // Estilo do header
    &.syo-nav-header {
      padding: (@baseLineHeight / 3) (@baseLineHeight / 2);
      color: @grayDark;
      font-weight: bold;
      font-size: floor(@baseFontSize * 0.9);
      #gradient .vertical();
      text-shadow: 0 1px 0 #fff;
    }

    // Corrige o border-radius do primeiro elemento
    &:first-child {
      &, > a {
        .border-radius-top(@baseBorderRadius);
      }
    }

    // Corrige o border-radius do último elemento
    &:last-child {
      border-bottom: 0;

      &, > a {
        .border-radius-bottom(@baseBorderRadius);
      }
    }
  }
}