// Paginação
// -------------------------

.syo-pagination {
  > ul {
    list-style: none;
    .clearfix();

    li {
      float: left;
      margin-left: 3px;

      a {
        padding: 2px 4px;
        border: 1px solid @paginationBorder;
        color: @paginationText;
        background-color: @paginationItemBackground;
        .border-radius(@baseBorderRadius);
        .transition(all .15s linear);

        &:hover, &:active {
          color: @paginationText;
          text-decoration: none;
          background: @paginationHoverBackground;
        }

        &:active, &:focus {
          border-color: @paginationActiveBorder;
        }
      }

      // Remove o margin-left do first-child
      &:first-child {
        margin-left: 0;
      }

      // Item ativo na paginação
      &.syo-active > a {
        border-color: @paginationActiveBorder;
        background-color: @paginationActiveBackground;
      }


      // Item desabilitado na paginação
      // Sobrescreve algumas propriedades quando estiver :active ou :hover, por exemplo
      &.syo-disabled > a {
        border-color: @paginationBorder;
        color: @paginationDisabledText;
        background-color: @paginationItemBackground;

        &:focus {
          outline: none;
        }
      }
    }
  }
}