.syo-pagination {
  ul {
    list-style: none;
    .clearfix();

    li {
      float: left;
      margin-left: 3px;

      a {
        padding: 2px 4px;
        border: 1px solid @paginationBorder;
        color: @paginationText;
        background-color: @paginationItemBackground;
        .border-radius(@baseBorderRadius);
        .transition(all .15s linear);

        &:hover, &:active {
          color: @paginationText;
          text-decoration: none;
          background: @paginationHoverBackground;
        }

        &:active {
          border-color: @paginationActiveBorder;
        }
      }

      &.syo-active {
        a {
          border-color: @paginationActiveBorder;
          background-color: @paginationActiveBackground;
        }
      }

      &.syo-disabled {
        a {
          color: @paginationDisabledText;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}