// Desktops médios e acima
@media (min-width: 980px) {
  .visible-tablet   { display: none !important; }
  .visible-desktop  { display: inherit !important; }
}

// Tablets, pequenos desktops e alguns celulares
@media (max-width: 979px) {
  .visible-desktop   { display: none !important ; }
  .visible-tablet    { display: inherit !important; }
}