// Scaffolding
// -------------------------

// Body
// --------------
body {
  #font .shorthand();
  background: @body-color;
}

// Links
// --------------
a {
  color: @link-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: @link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
  }
}

// Estilos de seleção de texto
.selection(#3399FF, #fff);