// Scaffolding
// -------------------------

// Body
// --------------
body {
  #font .shorthand();
  background: @bodyColor;
}

// Links
// --------------
a {
  color: @linkColor;
  text-decoration: none;

  &:active,
  &:hover {
    color: @linkColorHover;
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
  }
}

// Estilos de seleção de texto
.selection(#3399FF, #fff);