/* =================================================================================================================
   Base
   ================================================================================================================= */

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  th small {
    font-weight: normal;
  }
}

/* =================================================================================================================
   Tabela normal
   ================================================================================================================= */

/*
 * Estilos comuns pra todas as tabelas
 * 1. Sobrescreve a especificidade de alinhamento de texto com estas classes
 */
.syo-table {
  .table-base-styles();
  .border-radius( @base-border-radius );

  td, /* 1 */
  th { /* 1 */
    &.text-center { text-align: center; }
    &.text-right { text-align: right; }
    &.text-justify { text-align: justify; }
  }

  /* Arredonda canto superior esquerdo do primeiro tr */
  thead:first-child tr:first-child > th:first-child,
  tbody:first-child tr:first-child > td:first-child,
  tbody:first-child tr:first-child > th:first-child {
    .border-top-left-radius( @base-border-radius );
  }
  /* Arredonda canto superior direito do primeiro tr */
  thead:first-child tr:first-child > th:last-child,
  tbody:first-child tr:first-child > td:last-child,
  tbody:first-child tr:first-child > th:last-child {
    .border-top-right-radius( @base-border-radius );
  }
  /* Arredonda canto inferior esquerdo do último tr */
  thead:last-child tr:last-child > th:first-child,
  tbody:last-child tr:last-child > td:first-child,
  tbody:last-child tr:last-child > th:first-child,
  tfoot:last-child tr:last-child > td:first-child,
  tfoot:last-child tr:last-child > th:first-child {
    .border-bottom-left-radius( @base-border-radius );
  }
  /* Arredonda canto inferior direito do último tr */
  thead:last-child tr:last-child > th:last-child,
  tbody:last-child tr:last-child > td:last-child,
  tbody:last-child tr:last-child > th:last-child,
  tfoot:last-child tr:last-child > td:last-child,
  tfoot:last-child tr:last-child > th:last-child {
    .border-bottom-right-radius( @base-border-radius );
  }
  /* Remove os cantos arredondados inferiores do ultimo tr do ultimo tbody de uma tabela com tfoot */
  tfoot + tbody:last-child tr:last-child td:first-child {
    .border-bottom-left-radius( 0 );
  }
  tfoot + tbody:last-child tr:last-child td:last-child {
    .border-bottom-right-radius( 0 );
  }
  /* Arredonda os cantos superiores da primeiro tr */
  caption + thead tr:first-child th:first-child,
  caption + tbody tr:first-child td:first-child,
  colgroup + thead tr:first-child th:first-child,
  colgroup + tbody tr:first-child td:first-child {
    .border-top-left-radius( @base-border-radius );
  }
  caption + thead tr:first-child th:last-child,
  caption + tbody tr:first-child td:last-child,
  colgroup + thead tr:first-child th:last-child,
  colgroup + tbody tr:first-child td:last-child {
    .border-top-right-radius( @base-border-radius );
  }
}

.syo-table > tbody > tr.syo-active {
  td, th {
    background-color: @spring-green;
  }
}

/* =================================================================================================================
   Data Grid
   ================================================================================================================= */


tr.syo-datagrid-state-clicked {
  td, th {
    background-color: @spring-green;
  }
}

.syo-datagrid tr.syo-datagrid-state-hover {
  td {
    cursor: pointer;
    background-color: @table-stripe-color;
  }
}

/*
 * 1. Features documentada (.syo-datagrid-body).
 */
.syo-datagrid-body {
  overflow: auto; /* 1 */
  max-height: 150px; /* 1 */
}

/*
 * 1. Sobrescreve a especificidade da tabela normal.
 * 2. Evita borda dupla no topo do body mantendo a borda do thead quando tem scroll.
 * 3. Permite que a borda seja exibida corretamente no caso de utilizar header na tabela do body
 */
.syo-datagrid {
  td, th {
    overflow: hidden;
  }
  table {
    margin-bottom: 0;
  }
  .syo-datagrid-header {
    table {
      .border-radius-bottom( 0 );
      thead tr th:first-child, thead tr th:last-child {
        .border-radius-bottom( 0 ); /* 1 */
      }
    }
  }
  .syo-datagrid-body {
    table {
      border-top-width: 0; /* 2 */
      .border-radius-top( 0 );
      thead tr:first-child {
        th, td {
          border-top: 1px solid @table-border-color; /* 3 */
        }
      }
      tbody tr:first-child {
        td {
          .border-radius-top( 0 ); /* 1 */
        }
      }
    }
  }
}

.syo-datagrid-header th,
.syo-datagrid-helper,
.syo-table > thead,
.syo-table > tfoot {
  padding: 8px;
  color: @gray-dark;
  #gradient .vertical();
  text-shadow: 0 1px 0 #FFF;
}

.syo-datagrid-body.syo-datagrid-with-helper {
  table {
    .border-radius-bottom( 0 );
    border-bottom-width: 0;
    tbody tr:last-child td {
      .border-radius-bottom( 0 );
    }
  }
}

.syo-datagrid-helper {
  border: 1px solid @table-border-color;
  .border-radius-bottom( @base-border-radius );
}

/* =================================================================================================================
   Tabela striped
   ================================================================================================================= */

/*
 * 1. Linhas pares (2, 4, 6...) receberão background para destacar-se das demais
 */
.syo-table-striped > tbody {
  /* 1 */
  > tr:nth-child(even) > td,
  > tr:nth-child(even) > th {
    background-color: @table-stripe-color;
  }
}

/* =================================================================================================================
   Tabela responsiva
   ================================================================================================================= */
@media screen and ( max-width: @screen-small-max ) {
  /*
   * 1. Destaca o fim do thead com a borda
   * 2. Evita uma borda dupla quando (1)
   */
  .syo-table-responsive {
    position: relative;
    display: block;
    width: 100%;

    > thead {
      display: block;
      float: left;
      margin-right: -1px; /* 2 */
      padding: 0;

      > tr {
        display: block;

        > th {
          display: block;
          border-right: 1px solid @table-border-color; /* 1 */
          text-align: right;
        }
      }
    }

    > tbody {
      position: relative;
      display: block;
      width: auto;
      overflow-x: auto;
      white-space: nowrap;

      > tr {
        display: inline-block;
        vertical-align: top;

        > td {
          display: block;
          text-align: left;
        }
      }
    }
  }
}