// Tabelas
// -------------------------

// Qualquer tabela
// -------------------------
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  // Tira o float: none para que seja possível definir larguras do grid em uma tabela qualquer
  td, th, col {
    &[class*="span"] {
      float: none;
    }
  }

  th small {
    font-weight: normal;
  }
}

// Tabelas do framework
// -------------------------
// Estilos comuns pra syo-datagrid e syo-data-table
.syo-data-table, .syo-datagrid table {
  .table-base-styles();

  // Sobrescreve a especifidade de alinhamento de texto com estas classes
  td, th {
    &.text-center    { text-align: center; }
    &.text-right     { text-align: right; }
    &.text-justify   { text-align: justify; }
  }
}

.syo-data-table {
  .border-radius(@base-border-radius);

  // Arredonda canto superior esquerdo do primeiro tr
  thead:first-child tr:first-child > th:first-child,
  tbody:first-child tr:first-child > td:first-child,
  tbody:first-child tr:first-child > th:first-child {
    .border-top-left-radius(@base-border-radius);
  }

  // Arredonda canto superior direito do primeiro tr
  thead:first-child tr:first-child > th:last-child,
  tbody:first-child tr:first-child > td:last-child,
  tbody:first-child tr:first-child > th:last-child {
    .border-top-right-radius(@base-border-radius);
  }

  // Arredonda canto inferior esquerdo do último tr
  thead:last-child tr:last-child > th:first-child,
  tbody:last-child tr:last-child > td:first-child,
  tbody:last-child tr:last-child > th:first-child,
  tfoot:last-child tr:last-child > td:first-child,
  tfoot:last-child tr:last-child > th:first-child {
    .border-bottom-left-radius(@base-border-radius);
  }

  // Arredonda canto inferior direito do último tr
  thead:last-child tr:last-child > th:last-child,
  tbody:last-child tr:last-child > td:last-child,
  tbody:last-child tr:last-child > th:last-child,
  tfoot:last-child tr:last-child > td:last-child,
  tfoot:last-child tr:last-child > th:last-child {
    .border-bottom-right-radius(@base-border-radius);
  }

  // Remove os cantos arredondados inferiores do ultimo tr do ultimo tbody de uma tabela com tfoot
  tfoot + tbody:last-child tr:last-child td:first-child {
    .border-bottom-left-radius(0);
  }
  tfoot + tbody:last-child tr:last-child td:last-child {
    .border-bottom-right-radius(0);
  }

  // Arredonda os cantos superiores da primeiro tr
  caption + thead tr:first-child th:first-child,
  caption + tbody tr:first-child td:first-child,
  colgroup + thead tr:first-child th:first-child,
  colgroup + tbody tr:first-child td:first-child {
    .border-top-left-radius(@base-border-radius);
  }

  caption + thead tr:first-child th:last-child,
  caption + tbody tr:first-child td:last-child,
  colgroup + thead tr:first-child th:last-child,
  colgroup + tbody tr:first-child td:last-child {
    .border-top-right-radius(@base-border-radius);
  }
}

.syo-datagrid {
  table { margin-bottom: 0; }

  .syo-datagrid-header table {
    .border-radius-top(@base-border-radius);

    tr:last-child td:first-child,
    tr:last-child th:first-child {
      .border-top-left-radius(@base-border-radius);
    }

    tr:last-child td:last-child,
    tr:last-child th:last-child {
      .border-top-right-radius(@base-border-radius);
    }
  }

  .syo-datagrid-body {
    margin-top: -1px; // Evita borda dupla na separação do body e do header

    table {
      .border-radius-bottom(@base-border-radius);

      tr:last-child td:first-child,
      tr:last-child th:first-child {
        .border-bottom-left-radius(@base-border-radius);
      }

      tr:last-child td:last-child,
      tr:last-child th:last-child {
        .border-bottom-right-radius(@base-border-radius);
      }
    }
  }
}

// Pra simplificar os seletores finais (CSS puro), move-se estes seletores pra fora do ".syo-data-table, .syo-datagrid"
.syo-data-table > tbody > tr:hover,
.syo-datagrid tr.syo-datagrid-state-hover {
  cursor: pointer;
  background-color: @table-stripe-color;
}

// Se colocar o background na <tr> buga as bordas arredondadas
.syo-data-table > tbody > tr.syo-active,
.syo-datagrid tr.syo-datagrid-state-clicked {
  td, th {
    cursor: pointer;
    background-color: @spring-green !important;
  }
}

// O syo-datagrid-header é um div, então não dá pra usar o ">" com ele ou o seletor ficaria muito complexo
.syo-datagrid .syo-datagrid-header,
.syo-data-table > thead,
.syo-data-table > tfoot {
  td, th {
    padding: 8px;
    color: @gray-dark;
    #gradient .vertical();
    text-shadow: 0 1px 0 #fff;
  }
}

// Tabela striped
// -------------------------
.syo-data-table-striped > tbody {
  > tr:nth-child(even) > td,
  > tr:nth-child(even) > th {
    background-color: @table-stripe-color;
  }
}