/* =================================================================================================================
   Parágrafos
   ================================================================================================================= */
   
p {
  margin: 0 0 ( @base-line-height / 2 );
  &.lead {
    margin-bottom: @base-line-height;
    line-height: @base-line-height * 1.5;
    font-size: @base-font-size * 1.5;
    font-weight: 200;
  }
}

/* =================================================================================================================
   Ênfase
   ================================================================================================================= */
   
small { font-size: 85%; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }

/* =================================================================================================================
   Headings
   ================================================================================================================= */
   
/*
 * 1. Corrige o espaçamento de caracteres para headings
 */
h1, h2, h3, h4, h5, h6 {
  margin: ( @base-line-height / 2 ) 0;
  line-height: @base-line-height;
  font-family: @base-font-family;
  font-weight: bold;
  color: @text-color;
  text-rendering: optimizelegibility; /* 1 */
  small {
    line-height: 1;
    font-weight: normal;
    color: @gray-light;
  }
}

h1,
h2,
h3 { line-height: @base-line-height * 2; }

h1 { font-size: @base-font-size * 2.75; }
h2 { font-size: @base-font-size * 2.25; }
h3 { font-size: @base-font-size * 1.75; }
h4 { font-size: @base-font-size * 1.25; }
h5 { font-size: @base-font-size; }
h6 { font-size: @base-font-size * 0.85; }

h1 small { font-size: @base-font-size * 1.75; }
h2 small { font-size: @base-font-size * 1.25; }
h3 small { font-size: @base-font-size; }
h4 small { font-size: @base-font-size; }

/* =================================================================================================================
   Header
   ================================================================================================================= */
   
.syo-header {
  display: block;
  margin-bottom: @base-line-height;
  border-bottom: 1px solid @gray;
}

/* =================================================================================================================
   Alinhamento de texto
   ================================================================================================================= */
   
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }