// ====================================================================================================================
// Cores
// ====================================================================================================================

@gray-darker: #222;
@gray-dark: #444;
@gray: #666;
@gray-light: #AAA;
@gray-lighter: #EEE;

@green: #008000;
@light-green: #DFF0D8;
@spring-green: #81DBB2;
@blue: #336699;

// ====================================================================================================================
// Componentes
// ====================================================================================================================

@component-bg: #E2E2E2;
@component-bg-light: #FFF;
@component-bg-hover: #EEE;
@component-border-hover: darken( @gray-light, 10% );

// ====================================================================================================================
// Imagens/Fontes
// ====================================================================================================================

@images-path: "images";
@image-logo: "@{images-path}/logo.gif";

@fonts-path: "fonts";

// ====================================================================================================================
// Body
// ====================================================================================================================

@body-color: #FFF;

// ====================================================================================================================
// Links
// ====================================================================================================================

@link-color: @blue;
@link-color-hover: darken( @blue, 10% );

// ====================================================================================================================
// Tipografia
// ====================================================================================================================

@text-color: #000;
@base-font-size: 14px;
@base-line-height: 20px;

@base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

@dl-term-width: 160px;

// ====================================================================================================================
// Tamanhos base
// ====================================================================================================================

@font-size-large: @base-font-size * 1.25; // ~18px
@font-size-xlarge: @base-font-size * 1.5; // ~21px

@padding-large: 11px 19px;
@padding-xlarge: 16px 26px;

@border-radius-small: 2px;
@base-border-radius: 4px;
@border-radius-large: 6px;
@border-radius-xlarge: 8px;

// ====================================================================================================================
// Forms
// ====================================================================================================================

// Inputs
@input-height: @base-font-size * 2;
@input-background: #F5F5F5;
@input-border: @gray-light;
@input-text-color: @gray;
@input-border-radius: @border-radius-small;
@input-focus-border: @green;

// Inputs - hover
@input-hover-background: #F8F8F8;
@input-hover-border: darken( @input-border, 10% );
@input-hover-text: darken( @gray-darker, 3% );

// Inputs - disabled
@input-disabled-background: #FFF;
@input-disabled-border: @gray-light;
@input-disabled-text: @gray-light;

// Input - status - success
@input-success-color: #51A351;
@input-success-highlight-color: #62C462;
@input-success-hover-border: darken( @input-success-color, 15% );

// Input - status - error
@input-error-color: #BD362F;
@input-error-highlight-color: #EE5F5B;
@input-error-hover-border: darken( @input-error-color, 15% );

// Buttons only
@button-bg-transition: background .15s linear;

// ====================================================================================================================
// Tabelas
// ====================================================================================================================

@table-bg: #FFF;
@table-border-color: #CCC;
@table-stripe-color: #F5F5F5;

// ====================================================================================================================
// Paginação
// ====================================================================================================================

@pagination-item-background: #FFF;
@pagination-hover-background: lighten( @gray-lighter, 2% );
@pagination-disabled-text: @gray-light;
@pagination-border: fade( @gray-light, 70% );

// ====================================================================================================================
// Blocos
// ====================================================================================================================

@block-border-color: darken( @gray-lighter, 5% );
@block-title-text: @gray-dark;
@block-border-radius: @base-border-radius;

// ====================================================================================================================
// Navbar
// ====================================================================================================================

@navbar-border-color: #CCC;
@navbar-zindex: 1000;
@navbar-height: 40px;

// ====================================================================================================================
// Nav
// ====================================================================================================================

@nav-border-color: darken( @gray-lighter, 5% );

// ====================================================================================================================
// Popover
// ====================================================================================================================

@popover-border: darken( @component-bg, 15% );
@popover-arrow-size: ( @base-line-height / 2 );
@popover-zindex: 1000;

// ====================================================================================================================
// Grid
// ====================================================================================================================

@grid-columns: 12;
@grid-gutter-width: 30px;

// ====================================================================================================================
// Utilidades Responsivas
// ====================================================================================================================
@screen-tiny: 480px;
@screen-small: 768px;
@screen-medium: 980px;
@screen-large: 1200px;

@screen-tiny-max: @screen-small - 1;
@screen-small-max: @screen-medium - 1;
@screen-medium-max: @screen-large - 1;

// ====================================================================================================================
// jQuery UI
// ====================================================================================================================

@jq-text-color: @gray-darker;

@jq-highlight-color: @spring-green;
@jq-highlight-border: #456B5A;

@jq-border: @gray-light;
@jq-overlay: fade( @gray-light, 40% );

// Paths de imagens do jQuery UI
@jq-icons-highlight: "@{images-path}/ui-icons_2e83ff_256x240.png";
@jq-icons-active: "@{images-path}/ui-icons_454545_256x240.png";
@jq-icons-hover: "@{images-path}/ui-icons_454545_256x240.png";
@jq-icons-error: "@{images-path}/ui-icons_cd0a0a_256x240.png";
@jq-icons: "@{images-path}/ui-icons_222222_256x240.png";
@jq-icons2: "@{images-path}/ui-icons_888888_256x240.png";